.db-content.db-content-orders {
     min-height: 400px;
}

.db-content-order-detail {
     background: none repeat scroll 0% 0% transparent;
     border: 0px none;
     margin-top: 0px;
     padding-top: 30px;
     position: relative;
}

.db-content-order-detail .db-header {
     padding-right: 170px;
     position: relative;
}

.db-content-order-detail .db-header h2.order-price {
     color: #777777;
     font-size: 55px;
     font-weight: 400;
     line-height: 65px;
     padding-bottom: 10px;
     position: absolute;
     right: 0px;
     text-align: center;
     top: -4px;
     z-index: 1;
}

.db-content-order-detail .db-header h2.order-price small {
     color: #999999;
     display: block;
     font-size: 12px;
     font-weight: 700;
     line-height: 12px;
     padding-top: 1px;
     text-transform: uppercase;
}





.db-order-activity .order-header {
     min-height: 74px;
     padding: 20px;
}

.db-order-activity .order-header.with-thumb {
     padding-left: 140px;
}

.db-order-activity .order-header.with-star {
     padding-left: 50px;
}

.db-order-activity .order-header.with-star .star {
     margin: 3px 0px 0px -30px;
}



.db-order-activity .order-header h1 {
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
     font-size: 26px;
     font-weight: 700;
     line-height: 26px;
     overflow: hidden;
     position: relative;
}

.db-order-activity .order-header h1 a {
     color: #555555;
}

.db-order-activity .order-header h1 a:hover {
     color: #00b22d;
     text-decoration: none;
}

.db-order-activity .order-header h1 small {
     display: block;
     font-size: 14px;
     font-weight: 400;
     line-height: 16px;
     padding-top: 5px;
}

.db-order-activity .order-header h1 small a {
     color: #00b22d;
}

.db-order-activity .order-header h1 small a:hover {
     text-decoration: underline;
}

.db-order-activity .order-header .order-header-info {
     margin-top: 8px;
}

.db-order-activity .order-header .order-header-info li {
     border-right: 1px solid #cccccc;
     color: #999999;
     float: left;
     font-size: 12px;
     font-weight: 400;
     line-height: 14px;
     margin-right: 8px;
     padding: 0px 8px 2px 0px;
}

.db-order-activity .order-header .order-header-info li:last-child {
     border-right: 0px none;
     margin-right: 0px;
     padding-right: 0px;
}

.db-order-activity .order-header .order-header-info li em {
     color: #555555;
     font-style: normal;
}

.db-order-activity .order-header .order-header-info li a {
     color: #00b22d;
}

.db-order-activity .order-header .order-price {
     color: #555555;
     float: right;
     font-size: 40px;
     font-weight: 400;
     line-height: 45px;
     margin: 0px 0px 0px 20px;
     text-align: right;
}

.db-order-activity .order-header .order-price time {
     display: block;
     font-size: 14px;
     line-height: 16px;
     padding-top: 7px;
}





.db-order-activity .order-status-lrg h3.extra-price {
     color: #00668c;
     font-size: 40px;
     font-weight: 400;
     line-height: 42px;
}

.db-order-activity .order-status-lrg h3.extra-price b {
     font-size: 30px;
     font-weight: 900;
}

.db-order-activity .order-status-lrg h4 {
     color: #00668c;
     font-size: 12px;
     padding-bottom: 3px;
     position: relative;
     text-transform: uppercase;
}

.db-order-activity .order-status-lrg h4.cancelled {
     color: #ff4d4d;
     padding-top: 35px;
}

.db-order-activity .order-status-lrg h4.cancelled::before {
     background-position: -250px 0px;
     height: 25px;
     margin-left: -13px;
     width: 25px;
}

.db-order-activity .order-status-lrg h4.cancelled-withdrawn {
     color: #b2b2b2;
     padding-top: 41px;
}

.db-order-activity .order-status-lrg h4.cancelled-withdrawn::before {
     background-position: -100px 0px;
     height: 31px;
     margin-left: -16px;
     width: 31px;
}

.db-order-activity .order-status-lrg h4.alert {
     color: #ff4d4d;
     padding-top: 36px;
}

.db-order-activity .order-status-lrg h4.alert::before {
     background-position: -300px 0px;
     height: 26px;
     margin-left: -17px;
     width: 33px;
}

.db-order-activity .order-status-lrg h4.in-progress {
     padding-top: 33px;
}

.db-order-activity .order-status-lrg h4.in-progress::before {
     background-position: -350px 0px;
     height: 23px;
     margin-left: -24px;
     width: 48px;
}

.db-order-activity .order-status-lrg h4.waiting {
     padding-top: 38px;
}

.db-order-activity .order-status-lrg h4.waiting::before {
     background-position: -150px 0px;
     height: 28px;
     margin-left: -14px;
     width: 28px;
}

.db-order-activity .order-status-lrg h4.completed {
     padding-top: 41px;
}

.db-order-activity .order-status-lrg h4.completed::before {
     background-position: -200px 0px;
     height: 31px;
     margin-left: -14px;
     width: 27px;
}

.db-order-activity .order-status-lrg h4.gratuity {
     padding-top: 47px;
}

.db-order-activity .order-status-lrg h4.gratuity::before {
     background-position: -300px -1300px;
     height: 37px;
     margin-left: -14px;
     width: 33px;
}

.db-order-activity .order-status-lrg h4.delivered {
     padding-top: 43px;
}

.db-order-activity .order-status-lrg h4.delivered::before {
     background-position: -600px 0px;
     height: 33px;
     margin-left: -19px;
     width: 38px;
}

.db-order-activity .order-status-lrg h4.social {
     padding-top: 47px;
}

.db-order-activity .order-status-lrg h4.social::before {
     background-position: -350px -1300px;
     height: 37px;
     margin-left: -18px;
     width: 41px;
}


.db-order-activity .order-gig-detail {
     padding: 0px 20px 20px;
}

.db-order-activity .order-gig-detail table {
     overflow: hidden;
     table-layout: fixed;
     width: 100%;
}

.db-order-activity .order-gig-detail table thead tr {
     background-color: #f4f4f4;
}

.db-order-activity .order-gig-detail table thead tr td {
     color: #b2b2b2;
     font-size: 12px;
     font-weight: 700;
     padding: 2px 15px 2px 0px;
     text-transform: uppercase;
}

.db-order-activity .order-gig-detail table thead tr td a {
     color: #999999;
}

.db-order-activity .order-gig-detail table thead tr td a:hover {
     color: #00b22d;
}

.db-order-activity .order-gig-detail table tr {
     border-bottom: 1px solid #dddddd;
}

.db-order-activity .order-gig-detail table tr.total {
     border-bottom: 0px none;
}

.db-order-activity .order-gig-detail table tr.total td {
     font-size: 12px;
     font-weight: 700;
     text-align: right;
}

.db-order-activity .order-gig-detail table tr.total td em {
     display: inline-block;
     font-style: normal;
     padding-left: 10px;
}

.db-order-activity .order-gig-detail table tr td {
     color: #555555;
     font-size: 14px;
     line-height: 18px;
     padding: 8px 15px 8px 0px;
}

.db-order-activity .order-gig-detail table tr td a {
     color: #00698c;
}

.db-order-activity .order-gig-detail table tr td a:hover {
     color: #00b22d;
     text-decoration: none;
}

.db-order-activity .order-gig-detail table tr td a.asc::after, .db-order-activity .order-gig-detail table tr td a.desc::after {
     content: "▲";
     font-size: 9px;
     margin-left: 5px;
}

.db-order-activity .order-gig-detail table tr td a.desc::after {
     content: "▼";
}

.db-order-activity .order-gig-detail table tr td .status-bar {
     height: 16px;
     line-height: 16px;
     margin-bottom: 0px;
     margin-top: 0px;
}

.db-order-activity .order-gig-detail table tr td:first-child {
     padding-left: 15px;
}

.db-order-activity .order-gig-detail table tr td.qty {
     width: 70px;
}

.db-order-activity .order-gig-detail table tr td.qty strong {
     color: #999999;
     font-size: 13px;
     padding-right: 1px;
     vertical-align: middle;
}

.db-order-activity .order-gig-detail table tr td.amount {
     text-align: right;
     width: 70px;
}

.db-order-activity .order-gig-detail table tr td.date {
     text-align: right;
     width: 80px;
}

.db-order-activity .order-gig-detail table tr td.date em {
     font-style: normal;
     font-weight: 400;
}

.db-order-activity .order-gig-detail table tr td.date em.strikethrough {
     text-decoration: line-through;
}

.db-order-activity .order-gig-detail table tr td.truncated {
     overflow: hidden;
     padding-right: 20px;
     text-overflow: ellipsis;
     white-space: nowrap;
}





@media (max-width: 1147px) {
  .db-order-activity .order-is-completed { padding-left: 20px; padding-right: 20px; }
  .order-review-posted { padding-left: 20px; padding-right: 20px; }
}

.db-content.content-left { 
    margin-right: 202px;
	margin-left:100px
}

.db-content-order-detail {
     background: none repeat scroll 0% 0% transparent;
     border: 0px none;
     margin-top: 0px;
     padding-top: 30px;
     position: relative;
}

.db-content {
     background-color: #ffffff;
     border-radius: 5px;
     border: 1px solid #e5e5e5;
     box-sizing: border-box;
     margin-left: 202px;
     margin-top: 100px;
     min-height: 800px;
     position: relative;
}

.img-responsive{max-width:100%;height:auto}
/* reviews */
 .animated {
    -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;
}

.stars
{
    margin: 20px 0;
    font-size: 24px;
    color: #d17581;
}
/* media queries */
@media (max-width:728px){
	.db-content.content-left{
		margin-left: 0;
		margin-right: 0;
	}
}