{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/bootstrap.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/flat-ui.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/font-awesome.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	{% block stylesheet %} {% endblock stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/custom-ui.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/datepicker3.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'trips/css/jquery.raty.css' %}">
	{% block stylesheet_bottom %} 	
	<!-- libraries -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/nanoscroller.css' %}" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/compiled/theme_styles.css' %}" />
	
	{% endblock stylesheet_bottom %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/custom.css' %}" />
	{% endcompress %}
	{% block stylesheet_uncomp %}
	
	{% endblock stylesheet_uncomp %}
	
	{% block head_jscript_uncomp %}  {% endblock %}
	
	{% compress js %}
	{% block head_jscript %}  {% endblock %}
	{% endcompress %}
	
	
	<title> {% block title %} Airspress - A peer-to-peer delivery service{% endblock %} </title>
</head>

<body {% block onloader %} {% endblock %}>
<div id="theme-wrapper">
    <header style="background-color:#e82;" class="navbar" id="header-navbar">
			<div class="container">
				<a style="background-color:#e82" href="/trips/" id="logo" class="navbar-brand">
					<img src="{% static 'signup/img/mini-logo.png' %}" alt="AirSpress" title="Ship for Cheap" class="normal-logo logo-white"/>
					
				</a>
				
				<div class="clearfix">
				<button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
					<span class="sr-only">Toggle navigation</span>
					<span class="fa fa-bars"></span>
				</button>
				<div style="margin-bottom: 0;" class="nav-no-collapse pull-right" id="header-nav">
					<ul style="margin-bottom: 0;" class="nav navbar-nav pull-right">
						<li>
							<a href="/trips/">
								<i class="fa fa-home"></i>&nbsp;Home
							</a>
						</li>
						<li>
							<a href="">
								<i class="fa fa-question-circle"></i>&nbsp;FAQ
							</a>
						</li>
						<li class="dropdown profile-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="{{myPicture}}" alt=""/>
								<span class="hidden-xs">{{greetings}}</span> <b class="caret"></b>
							</a>
							<ul class="dropdown-menu brand-color">
								
									<li><a href=" {% url 'account:profile' greetings %} ">Profile <span><i class="fa fa-cog pull-right"></i></span></a></li>
									<li><a href="{%  url 'account:otRequest' %}">Buyer Requests </a></li>
									<li><a href="{% url 'account:myTrip' greetings %}">My Trips</a></li>
									<li>
										<a href="/account/mytrips/requested_trips/">Requested Trips</a>
									</li>
									<li><a href="/account/mytrips/add">Add a trip</a></li>
									<li class='logout-btn'> 
									   <a href="/logout"> Logout <span class="glyphicon glyphicon-log-out pull-right"></span></a>
									</li>
								
							</ul>
						</li>
						<li class="hidden-xxs">
							<a href="/logout" class="btn">
								<i class="fa fa-power-off"></i>
							</a>
						</li>
					</ul>
				</div>
				</div>
			</div>
		</header>
		
        <!-- Page Content -->
        <div style="margin-left:0;" id="content-wrapper">
            <div class="container-fluid">
			{% block content %}
                <div class="row">
				
                    <div class="col-lg-12">
                        
                    </div>
                </div>
			{% endblock %}
            </div>
			<hr class="prettyline">
        </div>
        <!-- /#page-content-wrapper -->
    </div>
		<!-- Modal --> <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 

					</div><!-- /.modal --> 
	<footer> </footer>
</div>   <!-- /#wrapper -->

    <!-- jQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAo_PT60oc_CGiUYJcI4gsYYa5UGZSBxp8&libraries=geometry,places&sensor=false&language=en-US"></script>

	<script type="text/javascript" src="{% static 'account/js/flat-ui.min.js' %}"></script>
	<script src="{% static 'account/js/jquery.nanoscroller.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'signup/js/sidebar.js' %}"></script>
	<script type="text/javascript" src="{% static 'signup/js/bootstrap-datepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'account/js/jquery.raty.js' %}"></script>
	
	<script> $('.datepicker').datepicker({
      format: 'mm-dd-yyyy',
	  autoclose:true,
	  orientation: 'top'
    });
	</script>
	<script type="text/javascript" src="{% static 'signup/js/citySearch.js' %}"></script>
	<script type="text/javascript" src="{% static 'signup/js/currencySel.js' %}"></script>
	{% block jscript %} 
	
		<!-- scripts -->
	<script src="{% static 'account/js/scripts.js' %}"></script>
	<script src="{% static 'account/js/pace.min.js' %}"></script>
	{% endblock jscript %}

	<script>
	 $(document).ready(function(){
  // $('#currency').on('change', updateCurrency);
  $('body').on('click', '.modal-trigger', displayModal);
  // $('body').on('click', '.deleter', deleteObject);
   $('body').on('submit', '#modal-form', saveForm);
 });
 
 </script>

</body>
</html>