{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/bootstrap.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/flat-ui.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/font-awesome.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	{% block stylesheet %} {% endblock stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/custom-ui.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/datepicker3.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'trips/css/jquery.raty.css' %}">
	{% block stylesheet_bottom %} {% endblock stylesheet_bottom %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/custom.css' %}" />
	{% endcompress %}
	{% block stylesheet_uncomp %}
	
	{% endblock stylesheet_uncomp %}
	
	{% block head_jscript_uncomp %}  {% endblock %}
	
	{% compress js %}
	{% block head_jscript %}  {% endblock %}
	{% endcompress %}
	
	
	<title> {% block title %} Airspress - A peer-to-peer delivery service{% endblock %} </title>
</head>

<body {% block onloader %} {% endblock %}>
    <nav class="navbar navbar-default navbar-fixed-top navbar-shrink navbar-inverse navbar-embossed">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <a class="navbar-brand" href="#page-top"><img src="{% static 'signup/img/mini-logo.png' %}" alt="AirSpress" title="Ship for Cheap"> </a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
			
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/trips/">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">Notifications <span class="badge"> 42 </span></a>
                    </li>
				     <li class="page-scroll">
                        <a href="#">FAQ</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#">How it works ?</a>
                    </li>
					<!-- -->
					<li>
					<div class="btn-group">
					  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
						<img alt="" class="img-circle" style="width:15px; height:auto;" src="{{ myPicture }}">{{ greetings }} <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" role="menu">
						<li><a href=" {% url 'account:profile' greetings %} ">Profile <span><i class="fa fa-cog pull-right"></i></span></a></li>
						<li><a href="{%  url 'account:otRequest' %}">Buyer Requests </a></li>
						<li><a href="{% url 'account:myTrip' greetings %}">My Trips</a></li>
						<li>
							<a href="/account/mytrips/requested_trips/">Requested Trips</a>
						</li>
						<li><a href="/account/mytrips/add">Add a trip</a></li>
						<li class='logout-btn'> 
						   <a href="/logout"> Logout <span class="glyphicon glyphicon-log-out pull-right"></span></a>
						</li>
					  </ul>
					</div>
	<!-- -->		</li>
					</ul>
					
					</li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>		

 <div id="wrapper" class="toggled">
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
			{% block content %}
                <div class="row">
				
                    <div class="col-lg-12">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
			{% endblock %}
            </div>
			<hr class="prettyline">
        </div>
        <!-- /#page-content-wrapper -->
    </div>
		<!-- Modal --> <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 

					</div><!-- /.modal --> 
	<footer> </footer>
    <!-- /#wrapper -->

    <!-- jQuery -->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAo_PT60oc_CGiUYJcI4gsYYa5UGZSBxp8&libraries=places&sensor=false"></script>

	<script type="text/javascript" src="{% static 'account/js/flat-ui.min.js' %}"></script>
	
	<script type="text/javascript" src="{% static 'signup/js/sidebar.js' %}"></script>
	<script type="text/javascript" src="{% static 'signup/js/bootstrap-datepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'account/js/jquery.raty.js' %}"></script>
	{% block jscript %} {% endblock jscript %}
    <!-- Menu Toggle Script -->
    <script>

  $('.dropdown-nested').click(function(event){
      event.stopPropagation();
      var dropdown = $(this).children('.panel-collapse');
      dropdown.toggle();
  
	});
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    $("#menu-open").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
	<script> $('.datepicker').datepicker({
      format: 'mm-dd-yyyy',
	  autoclose:true,
	  orientation: 'top'
    });
	</script>
	<script type="text/javascript" src="{% static 'signup/js/citySearch.js' %}"></script>
	<script type="text/javascript" src="{% static 'signup/js/currencySel.js' %}"></script>
	

	<script>
	 $(document).ready(function(){
  // $('#currency').on('change', updateCurrency);
  $('body').on('click', '.modal-trigger', displayModal);
  // $('body').on('click', '.deleter', deleteObject);
   $('body').on('submit', '#modal-form', saveForm);
 });
 
 </script>

</body>
</html>