{% extends "trips/account_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
<!-- We include base template for account related pages. And we fill the blocks -->
{% block title %} Add a trip {% endblock title %}
<!-- We load the Autocomplete widget by setting onload attribute -->
{% block onloader %}  {% endblock onloader %}
<!-- 'greetings' is always the username of the logged-in user  -->
	{% if greetings %}
{% block username %} {{ greetings }} {% endblock username %}
{% block stylesheet_bottom %} 	
	<!-- libraries -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/nanoscroller.css' %}" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/compiled/theme_styles.css' %}" />

{% endblock stylesheet_bottom %}
{% block stylesheet_uncomp %}
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
{% endblock stylesheet_uncomp %}

{% block jscript %} 

	<!-- scripts -->
	<script src="{% static 'account/js/scripts.js' %}"></script>
	<script src="{% static 'account/js/pace.min.js' %}"></script>
{% block datepicker %}	
	<script>
		function returnAdapt(){
			$('#departure2').datepicker('startDate', document.getElementById('departure').value);
			$('#departure2').datepicker('update', document.getElementById('departure').value);
		}
		function depAdapt(){
			$('#departure').datepicker('endDate', document.getElementById('departure2').value);	
		}
		$(document).ready(function(){
			$('#departure2').datepicker({
			  format: 'mm-dd-yyyy',
			  autoclose:true,
			  orientation: 'top',
			  startDate: "today",
			  
			});
			$('#departure').datepicker({
			  format: 'mm-dd-yyyy',
			  autoclose:true,
			  orientation: 'top',
			  startDate: "today",
			  
			});
			
			$('#departure').datepicker().on('changeDate',function(){
				if (hasClass(document.getElementById('backtrip'),'hidden') == false) {
					returnAdapt();
				}
			});
			$('#departure2').datepicker().on('changeDate',function(){
				if (hasClass(document.getElementById('backtrip'),'hidden') == false) {
					depAdapt();
				}
			});
		});
		
	</script>
{% endblock datepicker %}	
<script src="{% static 'trips/js/addtrip-script.js' %}"></script>
{% endblock jscript %}
<!-- This block will contain everything that is not on the user sidebar: list of trips or trip details or other user profiles...etc -->
{% block content %}
<div class="content-wrapper">
	<div class="row">
		<div class="col-lg-12">
			<div class="row" id="user-profile">
				<div class="col-lg-9 col-md-8 col-sm-8">
					<div class="main-box clearfix" id="tripAdd">
							<div class="panel-heading">
								<h2><i class="fa fa-edit"></i>{% trans "Trip information" %}</h2>
							</div>
							<div class="main-box-body clearfix">
								<form id="addTripForm" class="form-add-trip" method="POST" onsubmit="enableForm()" action="/account/mytrips/add/">
										{% csrf_token %}
										{% if alert %}
												{% include 'trips/alerts.html' %}
										{% endif %}
									<div class = "row">
										<div class="col-md-6">
											<div class="form-group">
											  <label class="control-label" for="departure">{% trans "Departure Date" %}</label>
											  <div class="controls">
												<div class="input-group  add-trip-dates">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												  <input step="step1" tabindex="1" id="departure" placeholder="{% trans 'Select a departure Date' %} " type="text" name="{{ addForm.depDate.name }}" class="form-control datepicker">
												  
												</div>
												 {{addForm.depDate.errors}}
											  </div>
											</div>
											<label  class="checkbox" for="checkbox1" style=" display: inline-block; margin-right:auto;">
												  <input step="step1" name="{{addForm.return_check.name}}" type="checkbox" data-toggle="checkbox" value="" id="checkbox1" onclick="returnTrip()" class="custom-checkbox"><span class="icons"><span class="icon-unchecked"></span><span class="icon-checked"></span></span>
												  <span style="padding-left:1.9em;">{% trans "I also want to add my return trip" %} </span>
											</label>
											<a class="btn btn-lg btn-success pull-right {% if addForm.errors %} hidden {% endif %}" step-toggle="next" step-display="step2" step-disable="step1" > {% trans "Next" %} </a>
											
										</div>
										<div id="backtrip" class="col-md-6 {% if addForm.arrivDate2.errors or addForm.depDate2.errors %}  {% else %} hidden {% endif %}">
											<div class="form-group">
											  <label class="control-label" for="departure2">{% trans "Return Trip: Departure Date" %}</label>
											  <div class="controls">
												<div class="input-group add-trip-dates">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												  <input step="step1" tabindex="2" id="departure2" placeholder="{% trans 'Select a departure Date' %} " type="text" name="{{ addForm.depDate2.name }}" class=" datepicker form-control">
												</div>
												<div class="help-block">
													 {{addForm.depDate2.errors}}
												</div>
											  </div>
											</div>
										</div>	
									</div>
									<div id="step2" class="row {% if not addForm.cityDep.errors and not addForm.cityArr.errors %} hidden {% endif %}">						
										
										<div class="form-group">
										  <label class="control-label" for="location1">{% trans "From" %}</label>
										  <div class="controls">
											<div class="input-group col-sm-4">
											  <span class="input-group-addon"><i class="fa fa-plane"></i></span>
											  <input step="step2" tabindex="3" type="text" id="location1" class="form-control">
												<input name="{{addForm.cityDep.name}}" value="{% if not addForm.cityDep.errors and addForm.cityDep.value %} {{addForm.cityDep.value}} {% endif %}" type="hidden">
												<input name="location_lat1" type="hidden">
												<input name="location_lng1" type="hidden">
											  </div>
											{{addForm.cityDep.errors}}
											<span class="help-block col-sm-8">{% trans "Start typing in and select the city" %}</span>
										  </div>
										</div>
									
										
										<div class="form-group">
										  <label class="control-label" for="location2">{% trans "To" %}</label>
										  <div class="controls">
											<div class="input-group col-sm-4">
											  <span class="input-group-addon"><i class="glyphicon glyphicon-plane"></i></span>
											  <input step="step2" tabindex="4" type="text" id="location2" class="form-control">
												<input name="location_lat2" type="hidden">
												<input name="location_lng2" type="hidden">
												<input name="{{addForm.cityArr.name}}" value="{% if not addForm.cityArr.errors and addForm.cityArr.value %} {{addForm.cityArr.value}} {% endif %}" type="hidden">
												<input name="{{addForm.distance.name}}" type="hidden">
											</div>
											{{addForm.cityArr.errors}}
											<span class="help-block col-sm-8">{% trans "Start typing in and select the city" %}</span>
										  </div>
										</div>
										<a class="btn btn-lg btn-success pull-right {% if addForm.errors %} hidden {% endif %}" step-toggle="next" step-display="step3" step-disable="step2" >{% trans "Next" %} </a>
										<a class="btn btn-lg btn-danger {% if addForm.errors %} hidden {% endif %}" step-toggle="back" step-hide="step2" step-enable="step1" > {% trans "Back" %} </a>
									</div>
									<div id="step3" class="row {% if not addForm.weightGood2.errors and not addForm.weightGood.errors and not addForm.unit_price.errors and not addForm.custom_price.errors %} hidden {% endif %}">
										<div class="row">
											<div class="form-group col-md-6">
											  <label class="control-label" for="weightGood"> {% trans "Available Weight for Buyers(kg)" %}</label>
											  <div class="controls">
												<div class="input-group col-sm-4">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												  <input id="weightGood" tabindex="5" step="step3" type="text" name="{{addForm.weightGood.name}}" value="{% if not addForm.weightGood.errors and addForm.weightGood.value %} {{addForm.weightGood.value}} {% endif %}" class="form-control">
												</div>
												<span class="help-block">{{addForm.weightGood.errors}}</span>
												<span class="help-block col-sm-8">{% trans 'Give a round amount in kilograms' %} </span>
											  </div>
											</div>
											<div class="col-md-6">
												<div id="step4b" class="form-group">
												  <label class="control-label" for="unitPrice">{% trans 'Commission' %}</label>
												  <div class="controls">
													<div class="input-group col-sm-4">
													  <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
													  <input id="unitPrice" step="step4" type="number" min="0" name="{{addForm.custom_price.name}}" value="{% if not addForm.custom_price.errors and addForm.custom_price.value %} {{addForm.custom_price.value}} {% endif %}" class="form-control" disabled="true">
													  <input type="hidden" name="{{addForm.unit_price.name}}" value="{% if not addForm.unit_price.errors and addForm.unit_price.value %} {{addForm.unit_price.value}} {% endif %}">
													</div>
													<span class="help-block col-sm-8">{{addForm.custom_price.errors}}</span>
												  </div>
												</div>
											</div>
										</div>
										<div id="weightGood2" class="row {% if not addForm.weightGood2.errors %} hidden {% endif %}">
											<div class="form-group col-md-6 ">
											  <label class="control-label" for=""> {% trans "Return Trip: Available Weight for Buyers(kg)" %} </label>
											  <div class="controls">
												<div class="input-group col-sm-4">
												  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												  <input  step="step3" type="text" name="{{addForm.weightGood2.name}}" value="{% if not addForm.weightGood2.errors and addForm.weightGood2.value %} {{addForm.weightGood2.value}} {% endif %}" class="form-control">
												</div>
												<span class="help-block col-sm-8">{% trans 'Give a round amount in kilograms' %} </span>
												<span class="help-block">{{addForm.weightGood2.errors}}</span>
											  </div>
											</div>
										</div>	
										<a  step-toggle="next" step-display="step4" step-disable="step3" class="{% if not addForm.weightGood2.errors %} hidden {% endif %} btn btn-lg btn-success pull-right ">{% trans "Next" %} </a>
										<a class="btn btn-lg btn-danger {% if addForm.errors %} hidden {% endif %}" step-toggle="back" step-hide="step3" step-enable="step2" >{% trans "Back" %} </a>
									</div>
									<div id="step4" class="row hidden">
										<a class="btn btn-lg btn-danger pull-right" step-toggle="back" step-hide="step4" step-enable="step3" >{% trans "Back" %} </a>
										<div class="form-actions">
										  <button type="submit" class="btn btn-primary btn-success">{% trans "Done" %} !</button>
										  <button type="reset" class="btn btn-default">{% trans "Cancel" %} </button>
										  <button id="changePrice" type="button" input-enable="unitPrice" class="btn btn-info pull-right">{% trans "Change commission" %} ?</button>
										</div>
									</div>	
								</form>   

							</div>
						</div>
					</div>
				
				<div class="col-lg-3 col-md-4 col-sm-4">
					<div style="position:fixed;" class="main-box clearfix">
						<header class="main-box-header clearfix">
							<h2>{% trans "Calculated Commission" %} </h2>
						</header>
						
						<div id="priceDisplay" class="main-box-body clearfix">
						
						</div>
					</div>
				</div>
			</div>
		</div><!--/col-->
    </div>
</div>
{% endblock %}
{% endif %}