{% load i18n %}
 {% if alert.type == 'success' %}
		{% include 'trips/alerts.html' %}
 {% else %}
 <div class="modal-dialog {% block size %} modal-lg {% endblock %}">
    <div class="modal-content">
<div class='modal-header'>
  <button type='button' class='close' style="color:red;" data-dismiss='modal' aria-hidden='true'>&times;</button>
 
  {% if request_set  %}
  <h3>{% block modal-title %} Make a request{% endblock %}</h3>
	<small class="help-block">{% blocktrans %}Fill the form to the best of your ability. Providing these informations
						will make it a lot easier for our traveler{% endblocktrans %} 
	</small>
	{% if requestForm.errors and not alert.type %} 
		<div class="alert alert-danger">
			{% firstof requestForm.non_field_errors "Errors have been displayed... Check on next steps" %} 
		</div>	
	{% endif %}				
  </div>
  {% block content %}
  <form id='modal-form' class="form-req-trip" action="{% url 'trips:request' key %}" method="POST">
  <div class='modal-body'>
	{% if alert.type %}
			{% include 'trips/alerts.html' %}
	{% endif %}	  
    {% csrf_token %}
	{{ request_set.management_form }}
	{% block form-content %}
	<div class="row">
		<div class="col-lg-12">
			<ul id="itemList" class="nav nav-pills hidden-xs">
				<li class="active"><a href="#item1" data-toggle="tab">Item 1</a></li>
				
			</ul>
		<div class="tab-content">
			
			{% for requestForm in request_set.forms %}
				<div class="tab-pane {% if not forloop.first %} fade {% else %} active {% endif %} {% if requestForm.errors %} in {% endif %}" id="item{{forloop.counter}}">
					<div class="row tab-content">
						<div class="tab-pane active" id="item{{forloop.counter}}_start">
							<div class="row">
								<div class="col-sm-6 col-md-4">
									<div class="form-group">
									  <label class="control-label" for="item_name"> <b>{% trans "Name" %}</b></label>
										  <input required type="text" id="item_name" name="{{ requestForm.item_name.name }}" value="{% firstof requestForm.item_name.value %}" class="form-control" placeholder="Nike Air Jordan">
										{{requestForm.item_name.errors}}
										<span class="help-block col-sm-8">{% trans "Name that best describe the item" %}</span>
									</div>
								</div>
								
								<div class="col-sm-6 col-md-2">
									<div class="form-group">
									  <label class="control-label" for="quantity"> <b>{% trans "Quantity" %}</b></label>

										  <input required type="number" min="0" id="quantity" name="{{ requestForm.item_quantity.name }}" value="{% firstof requestForm.item_quantity.value %}" class="form-control" placeholder="2">
											
										{{requestForm.item_quantity.errors}}
										<span class="help-block col-sm-8">{% trans "How many of this do you want ?" %}</span>
									 
									</div>	
								</div>
								<div style="width:0" class="col-sm-12 col-md-1"></div>
								<div class="col-sm-6 col-md-2">
									<div class="form-group">
										<label class="control-label" for="weight"> <b>{% trans "Weight" %}</b></label>

										  <input required type="number" min="0" id="weight" placeholder="Amount in kilograms" value="{% firstof requestForm.weightGood.value %}" name="{{ requestForm.weightGood.name }}" class="form-control" >
											
										{{requestForm.weightGood.errors}}
										<span class="help-block col-sm-8"></span>
									</div>
								</div>
								
								<div class="col-sm-6 col-md-3">
									<div class="form-group">
									  <label class="control-label" for="price"> <b>{% trans "Unit Price" %}</b></label>
									   <div class="controls">
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
												<input required type="number" min="0" id="price" name="{{ requestForm.item_price.name }}" value="{% firstof requestForm.item_price.value %}" class="form-control" placeholder="60 $">
											</div>	
											<span class="help-block col-sm-8">{% trans "Price of a unit of this article" %}</span>
												{{requestForm.item_price.errors}}
										</div>
									</div>
								</div>
								
								<div class="clearfix"></div>
								<div class="col-md-12">
									<a class="btn btn-success pull-right" data-toggle="tab" href="#item{{forloop.counter}}_end"></a>
								</div>
							</div> <!-- nested row -->
						</div> <!-- nested tab-pane-->
						<div class="tab-pane fade" id="item{{forloop.counter}}_end">
							<div class="row">
								<div class="col-sm-6 col-md-4 form-group">
									  <label class="control-label"><b>{% trans "Dimensions of item (optional)" %}</b></label>
									  <div class="controls">
										<div class="input-group ">
										  <input type="number" min="0" class="input-sm text-center form-control" name="{{ requestForm.dimensions_1.name}}" /> 
										  <span style="color:#e81;border:none;font-size:0.8em;" class="input-group-addon">&times;</span>
										  <input type="number" min="0" class="input-sm text-center form-control" name="{{ requestForm.dimensions_2.name}}" />
										  <span style="color:#e81;border:none;" class="input-group-addon">&times;</span>
										  <input type="number" min="0" class="input-sm text-center form-control" name="{{ requestForm.dimensions_3.name}}" />
										</div>
											{{requestForm.dimensions_1.errors}} {{requestForm.dimensions_2.errors}} {{requestForm.dimensions_3.errors}}
										<span class="help-block col-sm-8">{% trans "Values in centimeters in any order" %}</span>
									  </div>
								</div>
								<div class="col-sm-6 col-md-8">
									<div class="form-group">
									  <label class="control-label" for="shop"> <b>{% trans "Shop Name" %}</b></label>

										  <input required type="text" id="shop" name="{{ requestForm.shop_name.name }}" value="{% firstof requestForm.shop_name.value %}" class="form-control">
										{{requestForm.shop_name.errors}}
										<span class="help-block col-sm-8">{% trans "Name of a shop selling this item" %}</span>
									</div>
								</div>
								<div class="col-sm-8 col-md-8 form-group">
								  <label class="control-label" for="comment"><b>{% trans "Comments" %}</b></label>
								  <div class="controls">
									<div class="input-group comment">
									  <textarea rows="2" id="comment" maxlength="200" value="{% firstof requestForm.comments.value %}" name="{{ requestForm.comments.name }}" class="form-control"></textarea>
										
									</div>
										{{requestForm.comments.errors}}
									<span class="help-block col-sm-12">{% trans "Put a link to a picture of this item or to a website displaying this item. Any special instructions ?" %}</span>
								  </div>
								</div>
							
							<div class="clearfix" ></div>
							<div class="col-md-12">
								<a class="btn btn-danger pull-right" data-toggle="tab" href="#item{{forloop.counter}}_start">Back</a>
							</div>
							</div> <!-- nested row-->
						</div> <!-- nested tab-pane-->
					</div>
					
					<div class="row">
						<a style="margin:auto;" href="#item{{forloop.counter|add:'1'}}" data-toggle="tab" onclick="return addNewItem(event)" class="btn btn-info" >{% trans "Add new item" %}</a>
						<input type="submit"  class="btn btn-primary noborder" value="{% trans 'Done' %}" />
						<a href="#item{{forloop.counter|add:'-1'}}" data-toggle="tab" onclick="return deleteItem('#item{{forloop.counter}}')" class="btn btn-info pull-right" >{% trans "Cancel" %}</a>
					</div>
				</div>
				
			{% endfor %}
				<script>
					function addNewItem(event){
						target = event.target || event.srcTarget;
						$(target.getAttribute('href')).tab('show');
						console.log(target.getAttribute('href', 2));
						list_item = '<li class="active"><a href="'+target.getAttribute('href',2)+'" data-toggle="tab">New Item</a></li>';
						$('#itemList li').removeClass('active');
						$('#itemList').append($(list_item));
					}
					function deleteItem(ele){
						$(ele).find(':input').each(function() {
							switch(this.type) {
								case 'number':
								case 'select-multiple':
								case 'select-one':
								case 'text':
								case 'textarea':
									$(this).val('');
									break;
								case 'checkbox':
								case 'radio':
									this.checked = false;
							}
						});
						list_element = $('#itemList').find('li').has('a[href="'+ele+'"]');
						list_element.prev().addClass('active');
						list_element.remove();
					}
				</script>
					
	   
		</div>
	</div> <!--- col -->
	</div> <!--- row -->
	{% endblock form-content %}
		
  </div> <!--- modal-body -->
  {% endblock content %}
</form>
{% endif %}
</div> <!--- modal-content -->
</div> <!--- modal-dialog -->
{% endif %}