 <div class="modal-dialog {% block size %} modal-lg {% endblock %}">
    <div class="modal-content">
<div class='modal-header'>
  <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
 {% if dealInfo %}
  <h3> Make a deal</h3>
  </div>
  <div class = "table-responsive">
  <table class="table">
  <thead>
  <tr>
	<th> Requester </th><th> Trip Info</th><th>Traveler</th>
  </tr>
  </thead>
  <tbody>
  <tr>
	<td> {{dealInfo.reqUser}} </td><td> Requested on: {{dealInfo.pubdate}} </td><td>{{dealInfo.traveler}} </td>
  </tr>
  <tr>
	<td> {{dealInfo.reqEmail}} </td><td> Departure on: {{dealInfo.depDate}} </td><td>{{dealInfo.travelerEmail}} </td>
  </tr>
   <tr>
	<td> </td><td> From: {{dealInfo.cityDep}} </td><td> </td>
  </tr>
     <tr>
	<td> </td><td> To: {{dealInfo.cityArr}} </td><td> </td>
  </tr>
  <tr>
	<td> </td><td> Shipment Weight: {{dealInfo.requestWeight}} Kg </td><td> </td>
  </tr>
  {% if not dealInfo.isdeliv %}
  {% if not dealInfo.istraveler %}
	{% if not dealInfo.ispayed %}
			 <tr>
			<td> </td><td> Payment: <a class="btn btn-primary" href="{% url 'payment:paypal_create' rqkey %}">Pay with Paypal</a> </td><td> </td>
		  </tr>
	{% else %}
			 <tr>
			<td> </td><td> Delivery: <a class="btn btn-primary btn-success" href="{% url 'delivery:confirmation' rqkey %}">Confirm Delivery</a> </td><td> </td>
		  </tr>
	{% endif %}
	{% else %}
			 <tr>
			<td> </td><td> Status: <a class="btn btn-primary">Not Paid Yet</a> </td><td> </td>
		  </tr>				
	{% endif %}
  {% else %}
			 <tr>
			<td> </td><td> <i class="fa fa-success"></i> <a class="alert-success" >Delivered !</a> </td><td> </td>
		  </tr>		
  
  {% endif %}
  </tbody>
  </table>
  </div>
  {% elif alert %}
    <h3> Notification</h3>
  </div>
  <div class="modal-body">

  <div class="alert alert-{{ alert.type }}">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <strong>{{ alert.text }}</strong> 
  </div>
</div>
{% elif requestForm %}
  <h3>{% block modal-title %} Make a request{% endblock %}</h3>
  </div>
  {% block content %}
  <form id='modal-form' class="form-req-trip" action="{% url 'trips:request' key %}" method="POST">
  <div class='modal-body'>
    {% csrf_token %}
	{% block form-content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="col-md-6">
		<div class="form-group">
		  <label class="control-label" for="trip"> Name</label>

			  <input type="text" name="{{ requestForm.item_name.name }}" class="form-control">
				<span class="form-control-feedback fui-lock"></span>
			{{requestForm.item_name.errors}}
			<span class="help-block col-sm-8">Name that best describe the item</span>
		 
		</div>
		<div class="form-group">
		  <label class="control-label" for="trip"> Quantity</label>

			  <input type="text" name="{{ requestForm.item_quantity.name }}" class="form-control">
				<span class="form-control-feedback fui-lock"></span>
			{{requestForm.item_quantity.errors}}
			<span class="help-block col-sm-8">How many of this do you want ?</span>
		 
		</div>
		<div class="form-group">
		  <label class="control-label" for="trip"> Weight</label>

			  <input type="text" placeholder="Amount in kilograms" name="{{ requestForm.weightGood.name }}" class="form-control">
				<span class="form-control-feedback fui-lock"></span>
			{{requestForm.weightGood.errors}}
			<span class="help-block col-sm-8">Write a round amount</span>
		 
		</div>
		</div>
		<div class="col-md-6">
		<div class="form-group">
		  <label class="control-label" for="trip"> Unit Price</label>

			  <input type="text" name="{{ requestForm.item_price.name }}" class="form-control">
				<span class="form-control-feedback fui-lock"></span>
			{{requestForm.item_price.errors}}
			<span class="help-block col-sm-8"></span>
		 
		</div>
				<div class="form-group">
		  <label class="control-label" for="trip"> <h6>Shop Name</h6></label>

			  <input type="text" name="{{ requestForm.shop_name.name }}" class="form-control">
				<span class="form-control-feedback fui-lock"></span>
			{{requestForm.shop_name.errors}}
			<span class="help-block col-sm-8">Name a shop that you know sell this item</span>
		 
		</div>
		<div class="form-group">
		  <label class="control-label" for="trip"><h6>Comments</h6></label>
		  <div class="controls">
			<div class="input-group comment">
			  <textarea rows="5" id="comment" name="{{ requestForm.comments.name }}" class="form-control"></textarea>
			</div>
				{{requestForm.comments.errors}}
			<span class="help-block col-sm-8">Any word for our friend ?</span>
		  </div>
		</div>
		</div>
	   </div>
	</div>
	{% endblock %}
		
  </div>
  <div class='modal-footer'>
    <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button type="submit" class="btn btn-primary">Confirm</button>
  </div>
  {% endblock %}
</form>
{% endif %}
</div>
</div>
