{% extends "trips/account_base.html" %}
<!-- We included base template for account related pages. Now we fill the blocks -->
{% load i18n %}
{% load staticfiles %}
{% block title %} My trips {% endblock title %}
<!-- We load the Autocomplete widget by setting onload attribute -->
{% block onloader %}  {% endblock onloader %}
<!-- 'greetings' is always the username of the logged-in user  -->
	{% if greetings %}
{% block username %} {{ greetings }} {% endblock username %}
{% block stylesheet_bottom %} 	
	<!-- libraries -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/nanoscroller.css' %}" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/compiled/theme_styles.css' %}" />

	<!-- this page specific styles -->
    
	
	<!-- Favicon 
	<link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>
	-->
{% endblock stylesheet_bottom %}
{% block stylesheet_uncomp %}
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
{% endblock stylesheet_uncomp %}

{% block jscript %} 
	<script	src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
	<script src="{% static 'account/js/jquery.nanoscroller.min.js' %}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$.fn.dataTableExt.sErrMode = 'throw';
			$('#table1').dataTable( {
				"paging":true,
				"ordering":true,
				"info":true,
				"order": [[ 3, "desc" ]],
			});
			oTable = $('#table1').dataTable();
			$('#table1_search').keyup(function(){
				  
				   oTable.fnFilter($(this).val());
			})
		} );
	
	</script>
{% endblock jscript %}	

{% block content %}							

							<div class="row">
								<div class="col-lg-12">
									<div class="main-box clearfix">
										<header class="main-box-header clearfix">
											<h2 class="pull-left">{% trans "My Trips" %}</h2>
											
											<div class="filter-block pull-right">
												<div class="form-group pull-left">
													<input type="text" id="table1_search" class="form-control" placeholder="{% trans 'Search...' %}">
													<i class="fa fa-search small search-icon"></i>
												</div>
												
												<a href="{% url 'account:addtrip' %}" class="btn btn-primary pull-right">
													<i class="fa fa-plus-circle fa-lg"></i> {% trans "Add a trip" %}
												</a>
											</div>
										</header>
										
										<div class="main-box-body clearfix">
											<div class="table-responsive">
												<table id="table1" class="table">
													<thead>
														<tr>
															<th><a href="#">{% trans "Publication Date" %}</a></th>
															<th class="text-center"><a href="#" >{% trans "Departure Date" %}</a></th>
															<th class="text-right important"><a href="#" >{% trans "From" %}</a></th>
															<th class="text-right"><a href="#" >{% trans "To" %}</a></th>
															<th class="text-right"><a href="#" >{% trans "Available" %}</a></th>
															<th class="text-right"><a href="#" >{% trans "Total" %}</a></th>
															
														</tr>
													</thead>
													<tbody>
														{% for k, v in ownTrips.items %}
														<tr>
															<td class="text-center">
																{{ v.pubdate }}
															</td>
															<td class="text-center">{{ v.depDate }}</td>
															<td class="text-right">{{ v.cityDep }}</td>
															<td class="text-right">{{ v.cityArr }}</td>
															<td class="text-right">{{ v.availCap }} Kg</td>
															<td class="text-right">{{ v.totalCap }} Kg</td>
														</tr>
														{% empty %}
														<tr>
														  <td style="height:15em;width:100%;margin:auto; overflow:auto; display:block;">
															<h2 style="font-size: 0.7em; max-width:100%; position:absolute; top:50%; margin:0; margin-right:-50%; left:50%; transform:translate(-50%,-50%)">
															  {% trans "You have not added any trips yet." %}
															</h2>
														  </td>
														</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							</div>	
	{% endblock content %}						
{% endif %}							