{% extends "trips/account_base.html" %}
{% load staticfiles %}
{% load stringops %}
<!-- We include base template for account related pages. And we fill the blocks -->
{% block title %} Trips {% endblock title %}
<!-- We load the Autocomplete widget by setting onload attribute -->
{% block onloader %}  {% endblock onloader %}
<!-- 'greetings' is always the username of the logged-in user  -->
	{% if greetings %}
{% block username %} {{ greetings }} {% endblock username %}
<!-- stylesheets -->
{% block stylesheet%}
<link rel="stylesheet" type="text/css" href="{% static 'trips/css/listing.css' %}" /> 
<link rel="stylesheet" type="text/css" href="{% static 'account/css/materialize.min.css' %}" /> 
{% endblock stylesheet %}
<!-- JS scripts and files -->
{% block jscript %}
<script type="text/javascript" src="{% static 'account/js/materialize.min.js' %}"></script>
		<!-- scripts -->
<script type="text/javascript">$('.rating-stars').raty({ starType: 'i', score: function() {
    return $(this).attr('data-score');
  }, readOnly: true });</script>		
<script src="{% static 'account/js/scripts.js' %}"></script>
<script src="{% static 'account/js/pace.min.js' %}"></script>

 {% endblock jscript %}
<!-- This block will contain everything that is not on the user sidebar: list of trips or trip details or other user profiles...etc -->
    {% block content %}
	`<div class="row container" id="findRow">
		 <form id="search_Form" class="row main-box" method="post" action="/trips/search/">
            {% csrf_token %}	
			<div class="col-sm-4"> 
			<label class="form-label"><h2>Departures Range</h2></label>
			<div class="form-inline">
			  <fieldset class="form-group">
				<div class="input-daterange input-group datepicker">
					  <input type="text" class="input-sm form-control" name="{{ searchForm.depDate1.name}}" id="id_{{ searchForm.depDate1.name }}" /> 
				       <span style="color:#e81;background-color: transparent;border-color:#5aa;font-size: 0.8em;" class="input-group-addon">to</span>
								<input type="text" class="input-sm form-control" name="{{ searchForm.depDate2.name}}" />
						
				</div>
			  </fieldset>
			</div>
						{{searchForm.depDate1.errors}} {{searchForm.depDate2.errors}}
			</div>
			<div class="col-sm-4">
				<div class="control-group col-md-12">
				   <label class="control-label"><h2>From</h2></label>
				   <div class="controls">
					 <input class="col-md-12" id="location1" name="location1" type="text" placeholder="City, State, Country" value=""> 
					 <input name="{{searchForm.cityDep.name}}" type="hidden" value="">
					 <input name="location_state" type="hidden" value="">
					 <input name="location_country" type="hidden" value="">
					 <input name="location_lat" type="hidden">
					 <input name="location_lng" type="hidden">
					</div>
				</div>
						{{searchForm.cityDep.errors}}
			</div>
			<div class="col-sm-4">
				<div class="control-group col-md-12">
				   <label class="control-label"><h2>To</h2></label>
				   <div class="controls">
				   	
					 <input class="col-md-12" id="location2" name="location2" type="text" placeholder="City, State, Country" value=""> 
					 <input name="{{searchForm.cityArr.name}}" type="hidden" value="">
					 <input name="location_state" type="hidden" value="">
					 <input name="location_country" type="hidden" value="">
					 <input name="location_lat" type="hidden">
					 <input name="location_lng" type="hidden">
					</div>
					{{searchForm.cityArr.errors}}
				</div>
            <input type="submit" class="btn btn-primary pull-right btn-search noborder" value="Find a traveler" />
			</div>
        </form>
	</div>	
			<!-- Modal --> <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 

					</div><!-- /.modal --> 
	<div class="row">	
		<div class="row">
		{% for k, v in tripDict.items %}
				<div class=" col-sm-6 col-md-4 col-lg-4 trip-container">
					<div class="thumbnail bootsnipp-thumb">
						<div class="row firstin">
							<div class="row">
								<div class="col-sm-12 col-md-4 col-lg-4 travelUser">
									<a href="{% url 'account:profile' v.travelerUser %}"> <img class="img-circle" alt="" src="{% firstof v.pPicture 'http://placehold.it/80&text=No+Image' %}" style="width: 80px; height: 80px;">
										  <span style="overflow:hidden;">{{ v.travelerUser|truncatechars:9 }}</span>
									</a>
									<div class="rating-stars" data-score="{{v.travelerRating}}" >
									</div>
								</div>	
								<div class="col-sm-12 col-md-8 twodates">
									<div class="row">
										<div class="col-md-12">						
											<ul> 
												<li style="padding-bottom:8px;">
													
													<p style="display:inline-block; line-height:0.8;" class="fromCity">&nbsp;<i class="fa fa-map-marker" style="font-size: 1em;">&nbsp;</i>{{ v.oriLocation.city }}<span class="country">, {{ v.oriLocation.country }}</span></p>
												</li> 
												
												<li>
													
													<p style="display:inline-block; line-height:0.8;" class="toCity">&nbsp;<i class="fa fa-map-marker">&nbsp;</i>{{ v.destLocation.city }}<span class="country">, {{ v.destLocation.country }}</span></p>
												</li>
																		
											</ul>
										</div>
									</div>
															
								</div>
							</div>
							
							<div class="row">
									<div class="col-md-12">											
										<div style="" class="col-xs-4 col-sm-4 col-md-4">
											<li style="list-style:none; " class="date">
												 <div class="calendar event_date"> 
												<span class="month">{{ v.departDate.month|nodottruncatechars:3 }}</span> 
												<span class="day">{{ v.departDate.day }}</span> 
												</div>
										   </li>
										</div>
										<div class="col-xs-4 col-sm-4 col-md-4 price-details"> 
															<p class="unit-price"> <strong><span class="greater">{{ v.unit_price }} $</span> per Kg</strong> <i class="fa fa-cube"></i></p>
										</div>
									<!-- Prices and buttons -->
										<div class="col-xs-4 col-md-4">		
											<p style="font-size:small;" class=" col-md-12 available" ">
												<i class="fa fa-suitcase">&nbsp;</i> <strong class="greater">{{v.available}}</strong> /{{v.total}} Available
											</p>
										
										</div>	
												
									</div>
							</div>
							<div class="row">
								<div class="col-sm-12 col-md-12">
											<p>
											<a href="{% url 'trips:request' v.tripId %}" data-target="#modal" class="btn btn-primary btn-embossed btn-sm btn-block modal-trigger">Request</a>
											</p>				
								</div>

							</div>
						</div>
					</div>	
				</div>	
					
			
		{% if forloop.counter|divisibleby:3 %} 
			</div>
			<div>	
		{% endif %}
		
{% endfor %}
	</div>
</div>
<!-- Modal for viewing trip details-->
<div class="modal fade bs-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <br>
        <div class="bs-example bs-example-tabs">
            <ul id="myTab" class="nav nav-tabs">
              <li class="active"><a href="#signin" data-toggle="tab">Sign In</a></li>
            </ul>
        </div>
      <div class="modal-body">
        <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="signin">
            <fieldset>
            <!-- Sign In Button -->
            <div >
			<center>
              <label ></label>
              <div >
                <a href="login/fb" class="btn fb-signin btn-lg">Sign In with Facebook</a>
              </div>
            </div>
			<center>
            </fieldset>
            
        </div>
		</div>
	  </div>
	 </div>
	</div>
</div>
{% endblock %}
{% endif %}