<div class="panel-group accordion" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
					<i class="fa fa-dot-circle-o">&nbsp;</i> What is the point of Airspress?
				</a>
			</h4>
		</div>
		<div id="collapseOne" class="panel-collapse collapse in">
			<div class="panel-body">
				<p> Airspress's goal is to simplify the process of ordering items difficult to obtain due to geographic constraints. 
					We serve as a platform connecting customers willing to acquire an item outside of their country of residence and travelers who can bring it to them.
				</p>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
					<i class="fa fa-cogs">&nbsp;</i> How does it work ?
				</a>
			</h4>
		</div>
		<div id="collapseTwo" class="panel-collapse collapse">
			<div class="panel-body">
				 As a traveler, you will be able to register your trip information including the trip date, destination and an estimate of the available space in your suitcases. 
				 As a customer, you'll be able to be put in touch with travellers to request them to buy items for you. 
				 Once you get in contact with a traveler, you’ll be able to send him a request where you indicate various information about the item you want to order. 
				 Please keep in mind that ordering item which are easy to obtain in the traveler’s country of departure (through online shopping, duty-free or airport shop) will make things easier for him and make him more likely to offer you this service.
				 After the receiving of the item, you and the traveler will have to confirm the request has been processed. We will offer a mutual rating system where travelers and purchasers will be able to give each other feedback.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
					<i class="fa fa-users">&nbsp;</i> Who is Airspress for ?
				</a>
			</h4>
		</div>
		<div id="collapseThree" class="panel-collapse collapse">
			<div class="panel-body">
				 The test version of Airspress is designed for international and exchange students and their acquaintances. 
				 This service allow them to ship items worldwide through the community of travelers. In the future, we plan to include more people in our community.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
					<i class="fa fa-hand-o-up">&nbsp;</i> How is Airspress different from traditional postal services  ?
				</a>
			</h4>
		</div>
		<div id="collapseFour" class="panel-collapse collapse">
			<div class="panel-body">
				 Airspress’s peer-to-peer approach allows to take advantage of complex flight itineraries. 
				 For example, let’s assume you are an Ivorian student in England and that you are going back to Abidjan this summer. 
				 Let’s also assume that one of your friend who is studying in New York is also coming back to Abidjan this summer but spends a couple days in Paris. 
				 With one Airspress order, you’ll be able to get items from both New York and Paris and receive them in Abidjan. 
				 The complexity of flight itineraries enables Airspress users to easily buy items from different places at a low cost which is very difficult to do with classical postal services.
			</div>
		</div>
	</div>	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
					<i class="fa fa-gift">&nbsp;</i> Why should I use AirSpress to receive/ship anything ?
				</a>
			</h4>
		</div>
		<div id="collapseFive" class="panel-collapse collapse">
			<div class="panel-body">
				 As a buyer, some products are not easily accessible in your country and the current cost of international shipping make them even more out of reach. 
				 Airspress allow you to order and receive these products within days and for a low cost.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
					<i class="fa fa-plane">&nbsp;</i> &nbsp;Why, as a traveler, should I use Airspress ?
				</a>
			</h4>
		</div>
		<div id="collapseSix" class="panel-collapse collapse">
			<div class="panel-body">
				 As a traveler, Airspress allow you to generate additional revenues by monetizing the space in your luggage as well as do a favor to someone.
				  Doing so allows you to build your online reputation and join a community of people trying to spread the philosophy of the sharing economy.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
					<i class="fa fa-lock"></i>&nbsp; What about security ?
				</a>
			</h4>
		</div>
		<div id="collapseSeven" class="panel-collapse collapse">
			<div class="panel-body">
				 At Airspress, security is essential. <br>
				 Our recommended use case in which the traveler receives the information about the product he is to acquire on behalf of the purchaser highlights this philosophy.
				 In addition, email verification combined with our review and confirmation system allows you to keep track of your order and also assess the reliability of the person you interact with. 
				 That said, we are open to suggestion and always look to make this service more reliable.
			</div>
		</div>
	</div>	
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
					<i class="fa fa-cubes"></i> &nbsp;Which goods are allowed to be transported by an Airspress user ?
				</a>
			</h4>
		</div>
		<div id="collapseEight" class="panel-collapse collapse">
			<div class="panel-body">
				 Airspress exists under the laws of the countries where its services are used. 
				 All goods(food, textile, electronic devices...etc.) are allowed unless otherwise specified by law in said countries and according to the context specified by those laws.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
					<i class="fa fa-info-circle"></i> &nbsp;How can you keep contact with the traveler and make sure he gets you your order ?
				</a>
			</h4>
		</div>
		<div id="collapseNine" class="panel-collapse collapse">
			<div class="panel-body">
				 Airspress has a chat feature allowing you to reliably communicate with the traveler.
			</div>
		</div>
	</div>		
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
					<i class="fa fa-thumbs-up"></i>&nbsp; How to make sure i'm meeting the right person when delivering ?
				</a>
			</h4>
		</div>
		<div id="collapseTen" class="panel-collapse collapse">
			<div class="panel-body">
				 In case you are to meet physically, each user can have a profile picture allowing you to identify him/her.
					Also feel free to use "secret words" (or anything similar) that you'd have devised with the buyer.
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
					<i class="fa fa-dollar"></i>&nbsp; How much does it cost ?
				</a>
			</h4>
		</div>
		<div id="collapseEleven" class="panel-collapse collapse">
			<div class="panel-body">
				 When a trip is published, the traveler decides on his margin; 
				 so it is up to them to decide how much they will charge while keeping in mind that their price should stay competitive with other international shipping services.
			</div>
		</div>
	</div>	
</div>