<!-- Translation machinery -->
{% load i18n %}
<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% load staticfiles %}
		<!-- all favicons -->
		<link rel="shortcut icon" href="{% static 'signup/img/favicons/favicon.ico' %}">
		<link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'signup/img/favicons/favicon.ico' %}">
		<link rel="icon" type="image/png" sizes="196x196" href="{% static 'signup/img/favicons/favicon-192.png' %}">
		<link rel="icon" type="image/png" sizes="160x160" href="{% static 'signup/img/favicons/favicon-160.png' %}">
		<link rel="icon" type="image/png" sizes="96x96" href="{% static 'signup/img/favicons/favicon-96.png' %}">
		<link rel="icon" type="image/png" sizes="64x64" href="{% static 'signup/img/favicons/favicon-64.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'signup/img/favicons/favicon-32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'signup/img/favicons/favicon-16.png' %}">
		<link rel="apple-touch-icon" href="{% static 'signup/img/favicons/favicon-57.png' %}">
		<link rel="apple-touch-icon" sizes="114x114" href="{% static 'signup/img/favicons/favicon-114.png' %}">
		<link rel="apple-touch-icon" sizes="72x72" href="{% static 'signup/img/favicons/favicon-72.png' %}">
		<link rel="apple-touch-icon" sizes="144x144" href="{% static 'signup/img/favicons/favicon-144.png' %}">
		<link rel="apple-touch-icon" sizes="60x60" href="{% static 'signup/img/favicons/favicon-60.png' %}">
		<link rel="apple-touch-icon" sizes="120x120" href="{% static 'signup/img/favicons/favicon-120.png' %}">
		<link rel="apple-touch-icon" sizes="76x76" href="{% static 'signup/img/favicons/favicon-76.png' %}">
		<link rel="apple-touch-icon" sizes="152x152" href="{% static 'signup/img/favicons/favicon-152.png' %}">
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'signup/img/favicons/favicon-180.png' %}">
		<meta name="msapplication-TileColor" content="#FFFFFF">
		<meta name="msapplication-TileImage" content="{% static 'signup/img/favicons/favicon-144.png' %}">
		<meta name="msapplication-config" content="{% static 'signup/img/favicons/browserconfig.xml' %}">
		<!-- all favicons END -->

        <title>{% block title %} AirSpress- {% trans "Peer-to-Peer Delivery Service" %} {% endblock title %}</title>
				<!-- Core -->
	
		{% load compress %}
		{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'signup/css/bootstrap.min.css' %}" />
		{% endcompress %}
		{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'account/css/flat-ui.min.css' %}" />
		{% endcompress %}
		{% compress css %}
		<link rel="stylesheet" type="text/css" href="{% static 'signup/css/font-awesome.min.css' %}" />
		{% endcompress %}
		<!--[if lte IE 8]><script src="{% static 'signup/css/ie/html5shiv.js' %}"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'signup/css/main.css' %}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{% static 'signup/css/ie/v9.css' %}" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header">
					<h1 id="logo"><a class="navbar-brand page-scroll" href="#page-top"><img style="max-width:2.5em;" src="{% static 'signup/img/logo-bright.png' %}" alt="AirSpress"></a></h1>
					<nav id="nav">
						<ul>
							<li><a href="/">{% trans "Home" %}</a></li>
							<li>
								<a href="/about" class="{% block about %} {% endblock about %}">{% trans "About Us" %} </a>
							</li>
							<li><a href="/faq" class="{% block faq %} {% endblock faq %}"> {% trans "FAQ" %} </a></li>
							
							<li>{% if not greetings %}
							<a href="/login/student" class="button special" id="login" data-toggle="modal" data-target=".bs-modal-sm" >{% trans "Login" %}</a>
								{% else %}
								<a href="{% url 'account:profile' greetings %}"><img src="{{myPicture}}" style=" width:60px ; height: 60px; "" class="img-responsive img-circle"></a>
								{% endif %}
							</li>
						</ul>
					</nav>
				</header>
		{% block content %}
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							 <div class="col-md-10 col-md-offset-1 mt">
								
								<h3> {% trans "LET'S SHOP" %} </h3>
								<h1 class="mb">{% trans "ANYTHING, ANYWHERE" %}</h1>
								
								<button class="btn btn-primary btn-lg" href="#signupModal" data-toggle="modal" style="font-weight:bold;">{% trans "Sign Up" %}</button>
							</div>
						</header>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				<section id="one" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{% static 'signup/images/pic02.jpg' %}" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="4u 12u$(medium)">
									<header>
										<h2>{% blocktrans %} The end of high shipping costs {% endblocktrans %}</h2>
										
									</header>
								</div>
								<div class="4u 12u$(medium)">
									<p>{% blocktrans %}Have you ever thought of acquiring any item which is hard to obtain in your country of residence ?
										You probably didn’t buy it given the high cost of international shipping.
										With Airspress, we designed a platform which will enable us, together, to reduce the cost of international shipping.{% endblocktrans %}
										
									</p>
				
								</div>
								<div class="4u$ 12u$(medium)">
									<div style="max-width:20em" >
										<img src="{% static 'signup/img/typical_airspresser.png' %}" style="max-width:100%" class="img-responsive alignright" alt="" data-effect="slide-right">
									</div>
								</div>
							</div>
						</div>
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="spotlight style2 right">
					<span class="image fit main"><img src="{% static 'signup/images/pic03.jpg' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>{% trans "Simple and effective" %}</h2>
							
						</header>
						<p>{% blocktrans %}As a buyer, you can place orders with travelers. One click and tell them what you need.
									As a traveler, Airspress will allow you to publish your trip information and be put in touch 
									with people interested in placing orders with you in order to monetize the free space in your luggage.{% endblocktrans %}
						</p>
						<p>{% trans "And with a real-time text messaging, you can easily wrap up the details." %}</p>			
						
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

			<!-- Three -->
				<section id="three" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="{% static 'signup/images/pic04.jpg' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>{% trans "A whole opportunity..." %}</h2>
							
						</header>
						<p>{% blocktrans %}We are a peer-to-peer ordering platform harnessing the flow of travelers
								in order to simplify the process of acquiring any items unavailable where you live. Or just any item.
								With Airspress, your trips visibility will increase and	you will be able to better organize any friends, relatives 
								and now Airspress community people orders.
								And shopping commodities sold in other countries will become far easier and less onerous.{% endblocktrans %}
						</p>
						
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

			<!-- Four -->
				<section id="four" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							
							<p><span class="icon alt major fa-trophy"></span></p>
						</header>
						<div class="box alt">
							<div class="row uniform">
								<section class="4u 6u(medium) 12u$(xsmall)">
									<span class="icon alt"><img src="{% static 'signup/img/MIT_logo.png' %}"/></span>
									<h4>{% trans "Finalist MIT Africa Innovate Business Plan Competition 2015" %}</h4>
									
								</section>
								<section class="4u 6u$(medium) 12u$(xsmall)">
									<span class="icon alt "><img src="{% static 'signup/img/cmee_logo.png' %}"/></span>
									<h4> {% trans "Finalist 2015 Best Student Entrepreneur Competition in Morocco" %}</h4>
									
								</section>
								<section class="4u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt "><img src="{% static 'signup/img/gsw_logo.png' %}"/></span>
									<h4>{% trans "Finalist of 2015 MIT Global Startup Workshop Elevator Pitch Competition in Guatemala" %}</h4>
									
								</section>
							</div>	
							<div class="row uniform">
								<section class="12u$ 6u(medium) 12u$(xsmall)">
									<span class="icon alt "><img src="{% static 'signup/img/logo-mit-news-b.png' %}"/></span>
									<h4>{% trans "Mentioned in MIT News article" %} <a href="http://newsoffice.mit.edu/2015/mit-sloan-africa-innovate-conference-0407" target="_blank">"{% trans 'Taking Action In Africa' %}"</a></h4>
									
								</section>
							</div>
						</div>
						
					</div>
				</section>

			<!-- Five -->
				<section id="five" class="wrapper style2 special fade-up">
					<div class="container">
						<header>
							<h2>{% trans "This is a pilot version. Invite us to your school..." %}</h2>
							<p>{% trans "Or let's talk about Airspress" %}</p>
						</header>
							<a href="#contactModal" data-toggle="modal" style="color:#fff;" class="button">Contact</a>
					</div>
				</section>
	{% endblock content %}
			<!-- Footer -->
				<footer id="footer">
					<div class="row">
					<div style="text-align:left;" class="col-lg-12">
						<div class="col-md-4">
							<h4>Airspress</h4>
							<p>A project led by five students from 4 universities:</p>
							<p>Université Laval, École Polytechnique de Montréal, MIT and HEC Maroc.</p>
							<p>It aims to offer a new model for shipping small quantities of items on long distance and enable people,
							professionals or businesses to take advantage of a dynamic travel-and-ship marketplace.
							</p>
						</div>
						<div style="text-align:left;" class="col-md-4">
							<ul class="list-unstyled">
								<li><a href="/about">About</a></li>
								<li><a href="/faq">FAQ</a></li>
								<li><a href="/terms">Terms Of Service</a></li>
							</ul>
						</div>	
						<div class="col-md-4">
							<ul class="icons">
								<li><a  href="http://twitter.com/airspress" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
								<li><a  href="http://facebook.com/airspress" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
								<li><a href="mailto:team@airspress.com" class="icon alt fa-envelope" target="_blank"><span class="label">Email</span></a></li>
							</ul>
						</div>
					</div>
					</div>	
					<ul class="copyright">
						<li>&copy; Airspress 2015</li><li>Credits Image: <a target="_blank" href="http://visibleearth.nasa.gov/view.php?id=55167">NASA</a></li>
					</ul>
				</footer>

		</div>
 {% if not greetings %}
<!-- Modal -->
<div class="modal fade bs-modal-lg" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		{% include "signup/signup_ajx.html" %}
</div>
<div class="modal fade bs-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		{% include "signup/signin_ajx.html" %}
</div>
<div class="modal fade bs-modal-lg" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		{% include "signup/contact_ajx.html" %}
</div>	
{% endif %}
		<!-- Scripts -->
					 <!-- JQuery -->
			<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
			 {% compress js %} 
			 <script type="text/javascript" src="{% static 'account/js/flat-ui.min.js' %}"></script>
			 {% endcompress %}
			 	<script src="{% static 'signup/js/flowtype.js' %}"></script>
				<script type="text/javascript">
					$('body').flowtype({
						 minimum   : 250,
						 maximum   : 1200,
						 minFont   : 8,
						 maxFont   : 17,
						 fontRatio : 30
						});
				</script>
			{% compress js %} 
			 <script src="{% static 'signup/js/modal-auth.js' %}"></script>
			 <script src="{% static 'signup/js/jquery.pwstrength.js' %}"></script>
			 <script type="text/javascript">
				  //password strength meter
				function calForce(){  
						$('#InputPassword1').pwstrength({
							label: '.pwdstrength-label'
						});
				}
				$('document').ready(function(){
					// anything you need to initialize goes here
					$('#login').click(function(){
											event.preventDefault();
											$('#loginModal').modal()
					});
					
					calForce();
				})
			 </script> 
			 {% block homepage_js %}
			 
			 {% endblock homepage_js %}
			 {% endcompress %}
			 {% compress js %}
			<script src="{% static 'signup/js/homepage/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'signup/js/homepage/jquery.dropotron.min.js' %}"></script>
			<script src="{% static 'signup/js/homepage/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'signup/js/homepage/skel.min.js' %}"></script>
			<script src="{% static 'signup/js/homepage/util.js' %}"></script>
			<script src="{% static 'signup/js/homepage/main.js' %}"></script>
			<script src="{% static 'signup/js/jquery.unveilEffects.js' %}"></script>
			{% endcompress %}
			<script src="{% static 'signup/js/scroll-animation.js' %}"></script>
	</body>
</html>