<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>AirSpress- Peer-to-Peer Delivery Service</title>

    <!-- Core -->
{% load staticfiles %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'signup/css/bootstrap.min.css' %}" />
{% endcompress %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'account/css/flat-ui.min.css' %}" />
{% endcompress %}
{% compress css %}
<link rel="stylesheet" type="text/css" href="{% static 'signup/css/ui-style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'signup/css/custom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'signup/css/custom-ui.css' %}" />   
{% endcompress %}
	<!-- index style -->
<link rel="stylesheet" type="text/css" href="{% static 'signup/css/stylindex.css' %}">
    <!-- JQuery -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right ">
	{% if not greetings %}	  
            <li><a href="#">Sign up</a></li>
		
			<li><a class="btn btn-primary btn-lg" href="#" data-toggle="modal" data-target=".bs-modal-sm">Login </a></li>
						
		{% else %}
			<li><a href="{% url 'account:profile' greetings %}">{{greetings}}</a></li>
			<li><a href="{% url 'account:profile' greetings %}"><img alt="AirSpress" src="{{pPicture}}"></a></li>
		{% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<div id="header">
	<a class="navbar-brand" href="/"><img src="{% static 'signup/img/logo.png' %}" alt="AirSpress"></a>
		<div class="container">
			<div class="row">
						<div class="col-lg-12 slogan">
						{% if greetings %}
						<h1> Hi, {{ greetings }}</h1>	
						{% endif %}
						{% if not greetings %}
						<h1> NOTHING MUST BE TOO FAR AWAY</h1>
						<h2 class="subtitle"> Ask a Traveler to bring you anything from their trip </h2>
						{% endif %}
						{% if greetings %}
					  <a class="btn btn-primary btn-lg" href="/account/mytrips/add/" >Register a trip</a>
					 or <a class="btn btn-primary btn-lg" href="/trips/search/" > Find</a> one.
						{% else %}
						<button class="btn btn-primary btn-lg" href="#signup" data-toggle="modal" data-target=".bs-modal-lg">Sign Up</button>
						{% endif %}
					  </div>
					
			</div>
		</div>
	</div>
	<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3">
					<p class="copyright">Copyright &copy; 2015 - AirSpress Inc.</p>
			</div>
		</div>		
	</div>	
	</div>
{% if not greetings %}
<!-- Modal -->
<div class="modal fade bs-modal-lg" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		{% include "signup/signup_ajx.html" %}
	 </div>
<div class="modal fade bs-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
		{% include "signup/signin_ajx.html" %}
	 </div>
	 {% compress js %} 
	 <script type="text/javascript" src="{% static 'account/js/flat-ui.min.js' %}"></script>
	 {% endcompress %}
	{% compress js %} 
	 <script src="{% static 'signup/js/modal-auth.js' %}"></script>
	 {% endcompress %}
{% endif %}
  </body>
</html>
