<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Registration Success</title>

    <!-- Core -->
	{% load staticfiles %}
	{% load compress %}

	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/bootstrap.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/flat-ui.min.css' %}" />
	{% endcompress %}

		<!-- JScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'account/js/flat-ui.min.js' %}"></script>

  
  </head>
  <body class="bg-white">
		{% if alert %}
		  <div style="display:block; margin:auto;" class="alert alert-{{alert.type}} alert-dismissable">
			<button type="button" data-dismiss="alert" class="close" aria-hidden="true">&times;</button>
			<strong>{{ alert.text }} {{alert.message}}</strong> {% if alert.link %} <a href="{{alert.url}}">{{alert.link}}</a> {% endif %}
		  </div>
		{% endif %}
	</body>
</html>