{% load i18n %}
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
       <div class='modal-header header'>
	        {% trans "Login" %}
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	   </div>
      <div class="modal-body">
	  {% if alert.type %}
		{% include "trips/alerts.html" %}
	{% endif %}
		{% if loginView.non_field_errors %}<div class="alert alert-danger">{{ loginView.non_field_errors }}</div>{% endif %}
		<form class="login-form" modal="#loginModal" action="/login/student/" method="post">
		{% csrf_token %}
						
							<div class="form-group">
								<input type="text" name="{{loginView.login_username.name}}" {% if loginView.login_name.value %} value="{{loginView.login_username.value}}" {% endif %} class="form-control" placeholder="Email Address">
							<span class="form-control-feedback fui-user"></span>
							{% if loginView.login_username.errors %}<div class="">{{ loginView.login_username.errors }}</div>{% endif %}

							</div>
							<div class="form-group">
								<input type="password" name="{{loginView.login_password.name}}" {% if loginView.login_password.value %} value="{{loginView.login_password.value}}" {% endif %} class="form-control" placeholder="Password">
								<span class="form-control-feedback fui-lock"></span>
							{% if loginView.login_password.errors %}<div class="">{{ loginView.login_password.errors }}</div>{% endif %}
							</div>

						<div class="footer">

							<button type="submit" class="btn btn-embossed btn-primary btn-large btn-block"><i class="fa fa-sign-in">&nbsp;</i>{% trans "Login" %}</button>

							<a href="/forgot_password/"  style="display:block; color:blue; font-size:.7em;" class="text-center">{% trans "Forgot your password ?" %}</a>
						</div>
	   </form>
            
        </div>
		</div>
	  </div>