<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="assets/img/favicon.png">

    <title>Signup to Airspress</title>

    <!-- Core -->
	{% load staticfiles %}
	{% load compress %}

	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/bootstrap.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/flat-ui.min.css' %}" />
	{% endcompress %}
	{% compress css %}
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/ui-style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/custom.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/custom-ui.css' %}" />
	{% endcompress %}
		<!-- JScript -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static 'account/js/flat-ui.min.js' %}"></script>
	<script src="{% static 'signup/js/jquery.pwstrength.js' %}"></script>
	<script>
		//password strength meter
		$('#InputPassword1').pwstrength({
			label: '.pwdstrength-label'
		});
	</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="bg-white">
		<div class="login-box">
			<div class="modal-lg modal-dialog">
				<div class="modal-content">
				   <h2 style="text-align:center;">
						Register
				   </h2>
				  <div class="modal-body">
					{% if alert %}
						{% include "trips/alerts.html" %}
					{% endif %}
					{% if not ref_regView %}
					{% if registerView.non_field_errors %}<div class="alert alert-danger">{{ registerView.non_field_errors }}</div>{% endif %}
					<form class="auth-form" action="/register/student/" method="post">
					{% csrf_token %}
								
										<div class="form-group" name="{{ registerView.login_institution.name }}">
														<label>Select your institution :</label>
														<select name="{{registerView.login_institution.name}}" class="form-control">
															{% for value, text in registerView.login_institution.field.choices %}
																<option value="{{ value }}">{{ text }}</option>
															{% endfor %}
			<!-- 												<option value="École Polytechnique de Montréal">École Polytechnique de Montréal</option>
															<option value="HEC Rabat">HEC Rabat</option>
															<option>Massachussets Institute of Technology</option>
															<option>Université Laval</option> -->
														 
														</select>

									   </div>
										<div class="form-group">
											<label for="InputName1">Full Name</label>
											<input id="InputName1" type="text" name="{{registerView.login_name.name}}" value="{% firstof registerView.login_name.value %}" class="form-control" placeholder="Full name">
											<p class="help-block">
												{% firstof registerView.login_name.errors %}
											</p>

										</div>
										<div class="form-group">
											<label for="InputEmail1">Email address</label>
											<input id="InputEmail1" type="text" name="{{registerView.login_email.name}}" value="{% firstof registerView.login_email.value %}" class="form-control" placeholder="Email address">
											<p class="help-block">
												{% firstof registerView.login_email.errors %}
											</p>
										</div>
										
										<div class="form-group">
											<label for="InputPassword1">Password</label>
											<input id="InputPassword1" type="password" name="{{registerView.login_password.name}}" value="{% firstof registerView.login_password.value %}" class="form-control" placeholder="Password" data-indicator="pwindicator">
											<p class="help-block">
												{% firstof registerView.login_password.errors %}
											</p>
											<div id="pwindicator" class="pwdindicator">
												<div class="bar"></div>
												<div class="pwdstrength-label"></div>
											</div>
										</div>
										<div class="form-group">
											<label for="InputPassword2">Confirm Password</label>
											<input id="InputPassword2" type="password" name="{{registerView.login_password_conf.name}}" value="{% firstof registerView.login_password_conf.value %}" class="form-control" placeholder="Retype password">
											<p class="help-block">
												{% firstof registerView.login_password_conf.errors %}
											</p>
										</div>
						

							<button type="submit" class="btn btn-success btn-block">Sign me up</button>

							<a href="/login/student/" style="display:block; color:blue; font-size:.7em; text-align:center;" class="text-center">I already have a membership</a>
						
				   </form>
						{% else %}
					{% if ref_regView.non_field_errors %}<div class="alert alert-danger">{{ ref_regView.non_field_errors }}</div>{% endif %}
					<form class="auth-form" action="/register/referral/" method="post">
					{% csrf_token %}
									<div class="">
										<div class="form-group">
											<label for="InputName1">Full Name</label>
											<input id="InputName1" type="text" name="{{ref_regView.login_name.name}}" value="{% firstof ref_regView.login_name.value %}" class="form-control" placeholder="Full name">
											<p class="help-block">
												{% firstof ref_regView.login_name.errors %}
											</p>

										</div>
										<div class="form-group">
											<label for="InputEmail1">Email address</label>
											<input id="InputEmail1" type="text" name="{{ref_regView.login_email.name}}" value="{% firstof ref_regView.login_email.value %}" class="form-control" placeholder="Email address">
											<p class="help-block">
												{% firstof ref_regView.login_email.errors %}
											</p>
										</div>
										
										<div class="form-group">
											<label for="InputPassword1">Password</label>
											<input id="InputPassword1" type="password" name="{{ref_regView.login_password.name}}" value="{% firstof ref_regView.login_password.value %}" class="form-control" placeholder="Password">
											<p class="help-block">
												{% firstof ref_regView.login_password.errors %}
											</p>
											<div id="pwindicator" class="pwdindicator">
												<div class="bar"></div>
												<div class="pwdstrength-label"></div>
											</div>
										</div>
										<div class="form-group">
											<label for="InputPassword2">Confirm Password</label>
											<input id="InputPassword2" type="password" name="{{ref_regView.login_password_conf.name}}" value="{% firstof ref_regView.login_password_conf.value %}" class="form-control" placeholder="Retype password">
											<p class="help-block">
												{% firstof ref_regView.login_password_conf.errors %}
											</p>
										</div>
										<div class="form-group">
											<input type="hidden" name="referral_id" value="{{referral_id}}">
										</div>
									</div>

										<button type="submit" class="btn btn-signup btn-lg">Sign me up</button>

										<a href="/login/student/" style="display:block; color:blue; font-size:.7em; text-align:center;" class="text-center">I already have a membership</a>
									
					</form>		
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</body>
</html>