
<h4>Introduction</h4>
<p>
Bienvenue sur Airspress qui vous fournit ses services à conditions que vous respectiez les conditions d’utilisation du site Web www.airspress.com . 
L’utilisation de Airspress est soumise à l’acceptation pleine et sans réserve des conditions d’utilisation et Airspress se réserve le droit de supprimer tout utilisateur ne respectant pas ces règles.
 Nous vous avisons que le service est présentement en phase de test et nous communiquerons avec nos utilisateurs lorsque cette période prendra fin.
</p>
<h4>Description du Service</h4>
<p>
Airspress.com est une plate-forme permettant de mettre en contact les voyageurs et les personnes désirant s’offrir des biens non disponibles dans leur pays de résidence .
Dans un premier temps nos services seront exclusives aux étudiants de certains pays et de certaines universités.
	<br>
L’abonnement expéditeur sur www.airspress.com vous permet d’annoncer un départ en publiant la date, votre provenance et votre destination ainsi que la quantité de marchandises que vous pouvez transporter en kilogramme (kg) . L’abonnement  destinataire vous permet de commander les articles disponibles dans nos banques de données en fonction des pays directement avec un expéditeur.
Un prix unitaire par kilo sera fixé par notre calculateur de prix ou par l’expéditeur . L’inscription sur le site est libre et gratuite .
	<br>
Lorsqu’ils s’inscrivent sur le site , l’expéditeur et le destinataire mettent certaines informations sur le site qui permettront de les mettre directement en contact lors de la livraison de marchandise . De ce fait , les destinataires qui attendent la marchandise  pourront  avoir accès à l’identité de l’expéditeur , à ses coordonnées et aux détails concernant le lieu de rendez-vous pour la livraison . Le destinataire quant à lui pourra avoir accès aux coordonnées de l’expéditeur , aux détails de son moyen de transport ( numéro de vol ) et aux détails concernant le lieu de rendez-vous . 
Une fois l’expéditeur à destination , il dispose de 48 heures pour livrer la marchandise et une fois la transaction effectuée il est obligatoire que les deux parties le confirme sur le site web de manière à ce que le service reste toujours efficace .

</p>
<h4>Obligation d'inscription</h4>
<p>
Dans le cadre de l’utilisation du service , vous déclarez avoir l’âge légal pour effectuer toute transaction. 
Vous vous engagez à fournir des données personnelles exactes et véridiques  vous concernant et à mettre à jour régulièrement ces dernières. 
Si vous fournissez des informations périmées , incomplètes ou inexactes , ou si Airspress a un motif de croire que tel est le cas , elle aura alors le droit de suspendre votre adhésion ou de résilier votre compte .

</p>
<h4>Protection de la vie privé des utilisateurs </h4>
<p>
Les données personnelles et toute information à votre sujet fournit lors de l’inscription seront confidentielles . Airspress ne pourra divulguer cette information sans votre autorisation préalable pour la mise en contact entre le destinataire et l’expéditeur.
</p>

<h4>Conditions quant à l’interdiction de transporter des substances illégales</h4>

<p>
Tout utilisateur usant de ce service à des fins illégales sera passible de poursuite judiciaires . Il est strictement interdit de transporter des substances illégales et toute tentative illicite engagera la responsabilité des deux parties. Par mesure de sécurité, l’expéditeur dans le cas où on lui remet un colis pour le destinataire devra vérifier minutieusement le contenu du colis et ce en la présence de celui qui le lui remet. Cette situation n’est pas encouragée dans notre modèle actuel. 

</p>

<h4>Conditions quant à l’interdiction d’importer certains produits dans certains pays </h4>

<p>
En tant qu’entreprise , Airspress se soumet aux lois des pays dans lesquels elle octroie ses services . Tout article interdit à transporter dans un pays et qui est transporté par nos utilisateurs engagent leur responsabilité , et ils devront s’acquitter des frais d’amende des douanes des pays concernés en plus de faire face à la saisie de l’article interdit de transport . Par mesure de précaution, le destinataire aura une liste des produits interdits de transporter dans le pays où il se trouve .
</p>


<h4>Modification</h4> 

<p>
Airspress se réserve le droit de mettre ces politiques d'utilisation à jour à tout moment. En cas de mise à jour, une communication sera faite sur le sujet quelques semaines avant la mise en application de la nouvelle politique.
</p>
				