@import url('font-awesome.min.css');
/* This contains additional customisations that are used for
	the "real" website not the presentation website */
html,body
{
    height:100%;
}
body{background-color: rgba(0,0,0,0.03);}
h1{font-size:2.2em;}
h2{font-size:1.8em}
h3{font-size:1.6em}
.navbar-static-top{position:fixed;right:0;left:0; background-color:#e7962e; height:50px;border-bottom: 1px solid #ddd;
box-shadow: 0 3px 2px -2px rgba(200,200,200,0.3);
}

/* logo */
.container .navbar-header .navbar-brand {padding-top:5px; margin-left:15px}
.container{height:50px}
.navbar-brand img{height:40px;}
/* END -- logo */

.container{
    height:100%;
}
.slogan{text-align:center;}
table {background-color:#fff}
li i{padding-right:2px;}
a.sidebar-brand{color:#fff}
.fb-signin{background-color:#3B5998; color:#fff}
div.modal-dialog.modal-sm{height:350px}

.board-right{float:right;width:20%;}

ul{list-style-type:none;}

/* trip listings */
.travelUser{text-align:center; }
.travelUser span{display:inline-block; text-align:center}
.firstin .travelUser img{background-image:url("../img/imgnofound.gif"); background-size:100% 100%;}
.pull-right{margin-bottom:15px;}
.errorlist{font-size:9px; margin:0;margin-top:5px;color:red;}
.twodates{overflow:hidden; padding-left:0;padding-right:0;}
.twodates ul{padding-left:5px;}
.twodates p{margin-bottom:0;}
.twodates .col-md-6{padding-right:0;}
.firstin {
    margin-right: 0;
	margin-left:0;
}
.price-details{overflow:auto;}
p.unit-price{text-align:center; font-family: Museo-500; font-size:14px; color:green;}
div.caption{padding-right:5px;}
/* forms */
.help-block{font-size:0.5em;}
/* form search trip */
#findRow{width: 108%;
margin-top: -5px;
margin-left: -1.5em;
/* margin-right: -65px; */
padding-right: 5%;
padding-left: 5%;
padding-bottom: 2em;
margin-bottom:1em;}
#search_form{
	padding-top: 1.9em;
	padding-left: 0.9em;
}
.btn-search{margin-top:10px}
.format-add-trip{margin-left:150px;}
.form-add-trip .form-group {padding-top:30px;}
.form-req-trip .help-block {margin-bottom:0;}
.form-req-trip .form-group {padding-top:20px;}
.form-req-trip>.input-group{ width:30%;}
form .comment{width:80%;}
.form-add-trip .form-group .input-group{width:90%;}
.form-add-trip .fa {font-size:14px;}
#search_form label h2{font-family:'Museo-500'; font-weight:bold; color:#e86}

/* Navbar */
a.navbar-brand{margin-left:50px;}
nav.navbar-static-top .container{width:100%; margin-right:0; padding-left:0;}
ul.nav.navbar-nav.navbar-right {
padding-left:0;
width:70%;
}

ul.navbar-nav.navbar-right li a{font-weight:bold;}
ul.nav.navbar-nav.navbar-right>li>a{transition: all ease .5s}
ul.nav.navbar-right>li>a:hover ,
ul.nav.navbar-right>li>a:active{border-bottom-color:#fc9412; border-bottom:3px solid #fc9412; color:#fff}
ul.nav.navbar-nav.navbar-right li.dropdown a{color:#e7962e}

#header-navbar .nav.navbar-nav  li:hover, #header-navbar .nav.navbar-nav  li:active,#header-navbar .nav.navbar-nav  li:focus{background-color:#d28206; color:#fff;}
#header-navbar .nav.navbar-nav  li  a:hover, #header-navbar .nav.navbar-nav  a:active, #header-navbar .nav.navbar-nav  a:focus{background-color:#d28206; color:#fff;}
.nav.navbar-nav>li {min-height:53px;}

/* Dropdown Menu */
#header-navbar .nav.navbar-nav > li > a{color:#fff}
#header-navbar .dropdown-menu > li > a{color:#e81}

/* Modals */
#loginModal .modal-content{min-height:100%}
#loginModal .modal-body{max-height:100%}
.modal-header.header{border-bottom: 2px solid #d54330;
background-color: #e27d33;
font-size: 20px;
text-align: center;
color: #fff;
border-radius: 3px;}
.modal .modal-header .close{
color: red;
margin-top: -0.5em;
font-size: 28px;
margin-right: -0.5em;
}
.modal-body .fa{font-size:14px;}
.modal-body .footer{text-align:center}
.btn.btn-signup{background-color:#E89C39;border-color:#e58811;color:#f9f9f9; display:block; margin-left:auto; margin-right:auto;}
.alert{padding:5px;margin-top:5px;padding-left:15px;padding-right:25px;}

/* tables */

.table-responsive .table tbody > tr > td {
  font-size: 0.65em;
 }
.table-responsive  .table tbody > tr > td:first-child {
font-size: 0.9em;
}
  
/* tabs */
.nav.nav-tabs > li > a{color:#fff;}
.nav.nav-tabs > li.active > a{color:#555;}
.nav.nav-tabs{background-color:#FC9D0B;}


/* buttons */
.tab-content .btn-primary{
	background-color:#FA9309;
	border-color:#E28409;
}
.noborder{border-bottom:none !important;}
p .btn.btn-primary:hover,p .btn.btn-primary:active, p .btn.btn-primary:focus, p .btn.btn-primary:visited {background-color:#d28206; border-bottom-color:#e81}

/* Headers*/
h1,h2,h3,h4,h6,header{font-family:'Museo-500'}
/* text blocks */
.conversation-body .name{font-size:0.7em;}

/* ICONS */
ul.dropdown-menu i.fa{font-size:1.1em;}
.fa.small{font-size:83%}
.fa.fa-times{font: 14px/1 FontAwesome; color:white;}
.input-group .input-group-addon i{color:#e81}

/* images */
#user-profile  .main-box-body .profile-img{max-width:80%;}

/* media queries */
@media screen and (max-width: 950px) {
ul.dropdown-menu i{font-size:1.1em;}
ul.dropdown-menu i.fa{font-size:0.7em;}
ul.dropdown-menu span.glyphicon{font-size:0.7em}
}
@media (max-width: 768px) {
.navbar-nav>li.open>.dropdown-menu{margin-left:-200%;}
}
@media screen and (max-width: 400px) {
.navbar-nav>li.open>.dropdown-menu{margin-left:-200%;}

}
@media (max-width: 320px){
#logo img{
margin-left: auto;
margin-right: auto;
display: block !important;
float: none !important;
}
#logo {
width: 100% !important;
margin-left: 15px;
float: none !important;
display: block !important;
}
#header-nav{
float: none !important;
}
#header-nav ul.navbar.navbar-right{
width: 100% !important;
float: none !important;
display: block !important;
margin-left: auto !important;
margin-right: auto !important;
}
}
@media (max-width: 774px){
.col-md-4 .main-box{position:relative !important;}
.row.firstin .twodates{
float: none !important;
margin-left: auto;
margin-right: auto;
}
.row.firstin .twodates li {
text-align:center;
width:100%;
}
}


/* UNUSED */
@media (min-width: 768px){
/*!
 * This code partly reuse : The Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	font-size:15px;
}

#wrapper.toggled {
    padding-right: 250px; /* to change sidebar width, hashtag: sidewidth */
}

#sidebar-wrapper {
    display: block !important;
    z-index: 1000;
    position: fixed;
    right: 250px;/* sidewidth */
    width: 0;
    height: 100%;
    margin-right: -250px;/* sidewidth */
    overflow-y: auto;
    background: none repeat scroll 0 0 #fff;
	border-left:1px solid #e7962e;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;/* sidewidth */
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;/* sidewidth */
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #f2a009;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}}

@media(min-width:768px) {
    #wrapper {
        padding-right: 250px;/* sidewidth */
		padding-top:50px;
    }

    #wrapper.toggled {
        padding-right: 0;
    }

    #sidebar-wrapper {
        width: 250px; /* sidewidth*/
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
@media (max-width:768px) {
li span{font-size: 30px;}
}
/* media queries END ! */
/* media queries END ! */
p.errors{margin:0;}

/* file end custom.css */