body {

    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RlYzhiYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMxJSIgc3RvcC1jb2xvcj0iI2FjOGU3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2JkYTI4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NzZkNTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #dec8bb 0%, #ac8e74 31%, #bda285 66%, #876d52 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dec8bb), color-stop(31%,#ac8e74), color-stop(66%,#bda285), color-stop(100%,#876d52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #dec8bb 0%,#ac8e74 31%,#bda285 66%,#876d52 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #dec8bb 0%,#ac8e74 31%,#bda285 66%,#876d52 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #dec8bb 0%,#ac8e74 31%,#bda285 66%,#876d52 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #dec8bb 0%,#ac8e74 31%,#bda285 66%,#876d52 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dec8bb', endColorstr='#876d52',GradientType=0 ); /* IE6-8 */
}



.square {
    border-radius: 0px!important;
}

	/* -- media query for user profile image -- */
	@media (max-width: 767px) {
		.user-image {
			max-height: 400px;}
		.user-menu-container  .img-responsive{
			margin:auto}
		}
.user-image .img-circle {
    margin: auto;
    height: 10em;
}
img.img-responsive{height:10em}
img.img-responsive{height:10em}
.user-container .img-responsive{	height:10em}
	/* icons */
	.user-menu-list .fa {
    font-size: 1.5em;
}
	.white .fa {
		font-size: 1.5em;
	}
	span .fa {
		font-size: 1.5em;
	}
.special-img 
{
    position: relative;
    top: -5px;
    float: left;
    left: -5px;
}
.profile-image  {
	padding-top: 0px;
	padding-bottom: 0px;
}
ul.nav.navbar-nav.navbar-right>li>a{transition: all ease .3s}
ul.nav.navbar-nav.navbar-right>li>a:hover ,
ul.nav.navbar-nav.navbar-right>li>a:active{border-bottom-color:#fc9412; border-bottom:3px solid #fc9412; color:#fc9412; background-color:#fff}
ul.nav.navbar-nav.navbar-right>li.dropdown>a:hover span,
ul.nav.navbar-nav.navbar-right>li.dropdown>a:active span{color:#fc9412; background-color:#fff}
.panel-collapse{display:none;}