{% extends "trips/account_base.html" %}
{% if alert %}
{% block jscript %} <script> 	 $(document).ready(function(){
  $("#alert-modal").modal.("show")
 });</script>					{% endblock jscript %}
{% block content %}
<div class="modal fade" id="alert-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
 <div class="modal-dialog {% block size %} modal-lg {% endblock %}">
   <div class="modal-content">
<div class='modal-header'>
<h3> Notification </h3>
</div>
{% block modal-content %}
<div class="modal-body">

  <div class="alert alert{{alert.type}}">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <strong>{{ alert.text }}</strong> 
  </div>
</div>
</div>
{% block modal-content %}
{% endblock content %}
{% endif %}