{% extends "trips/account_base.html" %}
<!-- We include base template for account related pages. And we fill the blocks -->
{% block title %} Add a trip {% endblock title %}
<!-- We load the Autocomplete widget by setting onload attribute -->
{% block onloader %}  {% endblock onloader %}
<!-- 'greetings' is always the username of the logged-in user  -->
	{% if greetings %}
{% block username %} {{ greetings }} {% endblock username %}
<!-- This block will contain everything that is not on the user sidebar: list of trips or trip details or other user profiles...etc -->
{% block content %}
<div class="row">
		<div class="col-lg-12">
		<div class="table-responsive">
<table class="table table-bordered table-hover">
    <thead>
	{% if not reqTrips %}
    <tr class="success">
    <th>#</th>
    <th>Publication Date</th>
    <th>Departure Date</th>
    <th>From</th>
	<th>To</th>
	<th>Available Capacity</th>
	<th> Total Capacity<th>
	<!-- <th class="active"> Details <th> -->
    </tr>
	{% elif otRequest %}
    <tr class="success">
    <th>Requester</th>
    <th>Publication Date</th>
    <th>Departure Date</th>
    <th>From</th>
	<th>To</th>
	<th>Requested Capacity</th>
	<th> Traveler Capacity<th>
	<th class="active"> Details <th>
    </tr>	
	{% elif reqTrips %}
    <tr class="success">
    <th>Traveler</th>
    <th>Publication Date</th>
    <th>Departure Date</th>
    <th>From</th>
	<th>To</th>
	<th>Requested Capacity</th>
	<th> Traveler Capacity</th>
	<th class="active"> Details </th>
    </tr>	
	{% endif %}
    </thead>
    <tbody>
	{% if ownTrips %}
	{% for k, v in ownTrips.items %}
    <tr>
	<td>{{ forloop.counter }}</td>
    <td>{{ v.pubdate }}</td>
    <td>{{ v.depDate }}</td>
    <td>{{ v.cityDep }}</td>
    <td>{{ v.cityArr }}</td>
	<td>{{ v.availCap }} Kg</td>
	<td>{{ v.totalCap }} Kg</td>
    </tr>
	{% endfor %}
	{% elif reqTrips %}
	{% for k, v in reqTrips.items %}
    <tr>
	<td>{{ v.traveler }}</td>
    <td>{{ v.pubdate }}</td>
    <td>{{ v.depDate }}</td>
    <td>{{ v.cityDep }}</td>
    <td>{{ v.cityArr }}</td>
	<td>{{ v.requestWeight }} Kg</td>
	<td>{{ v.availCap }} Kg</td>
	<td> <a class="btn btn-primary modal-trigger" data-target="#modal" href="{% url 'account:deals' v.reqIdo %}"> {{ v.optionBtno }}</a></td>
    </tr>
	{% endfor %}
	{% elif otRequest %}
	{% for k, v in otRequest.items %}
    <tr>
	<td>{{ v.requester }}</td>
    <td>{{ v.pubdate }}</td>
    <td>{{ v.depDate }}</td>
    <td>{{ v.cityDep }}</td>
    <td>{{ v.cityArr }}</td>
	<td>{{ v.requestWeight }} Kg</td>
	<td>{{ v.availCap }} Kg</td>
	<td> <a class="btn btn-primary modal-trigger" data-target="#modal" href="{% url 'account:deals' v.reqId %}"> {{ v.optionBtn }}</a></td>
    </tr>
	{% endfor %}	
	{% endif %}
    </tbody>
    </table>
	</div>
		</div><!--/col-->
</div>
{% endblock %}
{% endif %}