{% extends "trips/account_base.html" %}
<!-- We include base template for account related pages. And we fill the blocks -->
{% load staticfiles %}
{% block title %} AirDeal {% endblock title %}
{% block stylesheet %} 
		<link rel="stylesheet" type="text/css" href="{% static 'account/css/orders.css' %}" />
{% endblock stylesheet %}
{% block stylesheet_bottom %} 	
	<!-- libraries -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/nanoscroller.css' %}" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/compiled/theme_styles.css' %}" />

	<!-- this page specific styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/magnific-popup.css' %}">
	
	<!-- Favicon 
	<link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>

	<!-- google font libraries -->

{% endblock stylesheet_bottom %}
{% block head_jscript %} {% include 'account/script_firebase.html' %} {% endblock %}
{% block head_jscript_uncomp %} <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script> {% endblock %}

{% block content %}
		<!--  HYBRIDE  ---> 
	{% if dealInfo.traveler.isreviewed and dealInfo.reqUser.isreviewed %}	
	<div class="row" >
		<div class="col-lg-12">
			<div style="height:10em; background-color:#e81" class="main-box clearfix">	
				<h2 style="font-size:2.5em; color:#fff; position:absolute; top:50%; left:50%; margin:0;margin-right:-50%; transform:translate(-50%,-50%);">This Airdeal is Completed ! <i class="fa fa-check-circle"></i></h2>
			</div>
		</div>
	</div>
	{% endif %}
		{% if alert %}
				{% include 'trips/alerts.html' %}
		{% endif %}
		<div class="db-container mp-box">
			<section class="db-content content-left db-content-order-detail">
				<div class="db-tabs-wrapper">

							<article class="db-order-activity js-page-tab-content js-page-tab-activity">
								
								<header class="order-header with-star cf">
									<span class="order-price">{{ dealInfo.totalPrice }}</span>
									{% if not dealInfo.istraveler and not dealInfo.isdeliv %}
									<!-- Payment triggers
									<a class="btn btn-primary btn-embossed" href="{% url 'payment:paypal_create' rqkey %}">Pay with Paypal</a>
									
									<!-- Payment triggers-->
									<a class="btn btn-success btn-embossed pull-right" href="{% url 'account:confirm_delivery' rqkey %}">Confirm Delivery</a>
									{% endif %}
									{% if dealInfo.istraveler and not dealInfo.ispayed %}
									<a class="btn btn-success btn-embossed pull-right" href="{% url 'account:confirm_payment' rqkey %}">Confirm As Paid</a>
									{% endif %}
									{% if dealInfo.istraveler and not dealInfo.isaccepted %}
									<a class="btn btn-success pull-right" href="{% url 'account:accept_request' rqkey %}">Accept the request</a>
									{% endif %}
									<h1>
										<i class="fa fa-map-marker">&nbsp;</i>{{ dealInfo.cityDep }} <i class="fa-long-arrow-right fa"></i> {{ dealInfo.cityArr }}<i class="fa fa-map-marker"></i>
										<ul class="order-header-info cf">
											<li>{% if dealInfo.istraveler %} Buyer:  <a href="{% url 'account:profile' reqUser.username %}">{{reqUser.username}}</a> 
											{% else %} Traveler:  <a href="{% url 'account:profile' travelUser.username">{{travelUser.username}}</a>
											{% endif %}</li>
											
											<li><time datetime="2015-01-28"><em>Started on {{ dealInfo.pubdate }}</em></time></li>
										</ul>
									</h1>
								</header>

								 <div class="order-gig-details">

									<div class="order-gig-detail">
										<table>
											<thead>
												<tr>
													<td>Item</td>
													<td class="qty">Quantity</td>
													<td class="date">Delivery Estimate</td>
													<td class="amount">Amount</td>
												</tr>
											</thead>
										{% if requested_items %}	
											<tbody>
											{% for item in requested_items %}
												<tr>
													<td class="truncated">{{item.name}}</td>
													<td class="qty"><strong>×</strong>{{item.quantity}}</td>
													<td class="date" style="">2 days</td>
													<td class="amount">{{ item.price }}</td>
												</tr>
											{% endfor %}	
												 <tr>
													<td class="truncated">
														<span class="status-bar bar-inline gig-extra">Commission</span>
															
													</td>
													<td class="qty"><strong></strong></td>
													<td class="date" style="">
																
													</td>
													<td class="amount">{{ dealInfo.commission}}</td>
												</tr>														
												<tr class="total">
													<td colspan="4">Total <em>{{ dealInfo.totalPrice }}</em></td>
												</tr>
											</tbody>
										{% endif %}	
										</table>
									</div>


								</div> 
<!-- hybride --> 
								<div class="content-wrapper">
									<div class="row">
										<div class="col-lg-12">
											<div style="overflow:auto;" class="conversation-wrapper" id="WrapperConversation1">
												<div class="conversation-content">
													<div class="conversation-inner" id="Conversation1">
													
													</div>
												</div>
										
												{% include 'account/reviews_make.html' %}

												<div class="conversation-new-message">
													<form>
														<div class="form-group">
															<textarea class="form-control" onkeydown="return Shidori(event)" id="NewMessage1" rows="8" placeholder="Enter your message..."></textarea>
														</div>
														
														<div class="clearfix">
															<button type="submit" id="SendMessage1" class="btn btn-success pull-right">Send message</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
						</section>
					</div>
				</div><!--/mpbox-->


{% endblock content %}
{% block jscript %} 
<script src="{% static 'account/js/jquery.nanoscroller.min.js' %}"></script>
	
	<!-- this page specific scripts -->
	<script src="{% static 'account/js/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'account/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'signup/js/jquery.pwstrength.js' %}"></script>
	<!-- scripts -->
	<script src="{% static 'account/js/scripts.js' %}"></script>
	<script src="{% static 'account/js/pace.min.js' %}"></script>
	
<script type="text/javascript" src=" {% static 'account/js/order-review.js' %}"></script>
<script type="text/javascript">//score should depend on data-rating attribute
 function showStars(){ $('.rating-stars').raty({ starType: 'i', score: function() { return $(this).attr('data-rating');}, 
						   readOnly: true });
}

// send review
$(document).on('submit', '#review-form', function(){
$.ajax({ 
    type: $(this).attr('method'), 
    url: this.action, 
    data: $(this).serialize(),
    context: this,
    success: function(data, status, xhr) {
        if (xhr.status == 278){
		window.location.replace(xhr.getResponseHeader("Location"));
		} else {
	  $('#review-feedback').html(data);
	  showStars();
	  document.getElementById("review-feedback").scrollIntoView(true);
		}
    }
    });
    return false;
});						   
						   </script>
 {% endblock jscript %}