{% extends "trips/account_base.html" %}
<!-- We include base template for account related pages. And we fill the blocks -->
{% load i18n %}
{% load staticfiles %}
{% block title %} {{greetings}} {% endblock title %}
<!-- Stylesheets -->
	{% block stylesheet %}
		
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/editprofile.css' %}" /> 
	{% endblock stylesheet %}
<!-- We load the Autocomplete widget by setting onload attribute (Actually we never did that but that's an example of usefulness) -->
{% block onloader %}  {% endblock onloader %}
<!-- 'greetings' is always the username of the logged-in user  -->
{% if greetings %}
{% block username %} {{ greetings }} {% endblock username %}
{% block stylesheet_bottom %} 	
	<!-- libraries -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/nanoscroller.css' %}" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/compiled/theme_styles.css' %}" />

	<!-- this page specific styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/magnific-popup.css' %}">
	
	<!-- Favicon 
	<link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>

	<!-- google font libraries -->

{% endblock stylesheet_bottom %}
{% block stylesheet_uncomp %}
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
{% endblock stylesheet_uncomp %}


{% block jscript %} 

	
	<!-- this page specific scripts -->
	<script src="{% static 'account/js/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'account/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'signup/js/jquery.pwstrength.js' %}"></script>
	<!-- scripts -->
	<script src="{% static 'account/js/scripts.js' %}"></script>
	<script src="{% static 'account/js/pace.min.js' %}"></script>
	
<script type="text/javascript">
$('.rating-stars').raty({ starType: 'i', score: function() {
    return $(this).attr('data-score');
  }, readOnly: true });
  //password strength meter
		$('#InputPassword2').pwstrength({
			label: '.pwdstrength-label'
		});
// image upload preview
function readURL(input) {

	if (input.files && input.files[0]) {
		var reader = new FileReader();

		reader.onload = function (e) {
			$('#uploadedFile').attr('src', e.target.result);
		}
		reader.onprogress = function(data) {
            if (data.lengthComputable) {                                            
                var progress = parseInt( ((data.loaded / data.total) * 100), 10 );
                console.log(progress);
            }
        }
		reader.readAsDataURL(input.files[0]);
	}
}

$("#InputPicture").change(function(){
	readURL(this);
});		
		</script> 
  
 {% endblock jscript %}
<!-- This block will contain everything that is not on the sidebar ...etc -->
{% block content %}
<div class="content-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<div class="row" id="user-profile">
								<div class="col-lg-3 col-md-4 col-sm-4">
									<div class="main-box clearfix">
										{% include "account/profile_main.html" %}
										
									</div>
								</div>
								
								<div class="col-lg-9 col-md-8 col-sm-8">
									<div class="main-box clearfix">
										<div class="tabs-wrapper profile-tabs">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#tab-general" data-toggle="tab">{% trans "General" %}</a></li>
												<!-- <li><a href="#tab-social" data-toggle="tab">Social</a></li> -->
												
												<li><a href="#tab-security" data-toggle="tab">{% trans "Security" %}</a></li>
												<!-- <li><a href="#tab-payment" data-toggle="tab">Payment</a></li> -->
												
											</ul>
											<!--  Every tab/section should have an html file of its own
													for better organization and easier modifications-->
											
											<div class="tab-content">
												<div class="tab-pane fade {{tab_general}}" id="tab-general">
													{% include 'account/editprofile_general.html' %}
													
												</div>
											
												<div class="tab-pane fade" id="tab-social">
													
													
												</div>
													
												
												
												
												<div class="tab-pane fade {{tab_security}}" id="tab-security">
													
													{% include 'account/editprofile_security.html' %}
												</div>
												<div class="tab-pane fade" id="tab-payment">
												
													
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>{% endblock %}
{% endif %}