{% extends "trips/account_base.html" %}
<!-- We include base template for account related pages. And we fill the blocks -->
{% load staticfiles %}
{% block title %} Add a trip {% endblock title %}
<!-- Stylesheets -->
	{% block stylesheet %}
		
	<link rel="stylesheet" type="text/css" href="{% static 'signup/css/editprofile.css' %}" /> 
	{% endblock stylesheet %}
<!-- We load the Autocomplete widget by setting onload attribute -->
{% block onloader %}  {% endblock onloader %}
<!-- 'greetings' is always the username of the logged-in user  -->
{% if greetings %}
{% block username %} {{ greetings }} {% endblock username %}
{% block stylesheet_bottom %} 	
	<!-- libraries -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/nanoscroller.css' %}" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/compiled/theme_styles.css' %}" />

	<!-- this page specific styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/magnific-popup.css' %}">
	
	<!-- Favicon 
	<link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>

	<!-- google font libraries -->
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>

{% endblock stylesheet_bottom %}

{% block jscript %} 

	<script src="{% static 'account/js/jquery.nanoscroller.min.js' %}"></script>
	
	<!-- this page specific scripts -->
	<script src="{% static 'account/js/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'account/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'signup/js/jquery.pwstrength.js' %}"></script>
	<!-- scripts -->
	<script src="{% static 'account/js/scripts.js' %}"></script>
	<script src="{% static 'account/js/pace.min.js' %}"></script>
	
<script type="text/javascript">
$('.rating-stars').raty({ starType: 'i', score: function() {
    return $(this).attr('data-score');
  }, readOnly: true });
  //password strength meter
		$('#InputPassword2').pwstrength({
			label: '.pwdstrength-label'
		});
		</script> 
  
 {% endblock jscript %}
<!-- This block will contain everything that is not on the sidebar ...etc -->
{% block content %}
<div class="content-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<div class="row" id="user-profile">
								<div class="col-lg-3 col-md-4 col-sm-4">
									<div class="main-box clearfix">
										<header class="main-box-header clearfix">
											<h2>{% firstof userinfo.screen_name userinfo.username %}</h2>
										</header>
										
										<div class="main-box-body clearfix">
											<div class="profile-status">
												<i class="fa fa-circle small"></i> {% if userinfo.is_verified %} Verified {% else %} Not Verified {% endif %}
											</div>
											{% if userinfo.pPicture %}
											<img alt="User Pic" src="{{ userinfo.pPicture }}" class="profile-img img-responsive center-block">
											{% else %}
											<img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="profile-img img-responsive center-block">
											{% endif %}
											
											
											<!--<div class="profile-label">
												<span class="label label-danger">Admin</span>
											</div> -->
											
											<div class="profile-stars">
												<div class="rating-stars" data-score="{{userinfo.rating}}"></div>
												<span>{{userinfo.total_reviews}} reviews</span>
											</div>
											
											<div class="profile-since">
												Member since: Jan 2012
											</div>
											
											<div class="profile-details">
												<ul class="fa-ul">
													<li><i class="fa-li fa fa-plane small"></i>AirDeals (Traveler): <span>{{userinfo.total_deliveries}}</span></li>
													<li><i class="fa-li fa fa-cube small"></i>AirDeals (Buyer): <span>{{userinfo.total_orders}}</span></li>
												</ul>
											</div>
											{% if not userinfo.is_cuser %}
											<div class="profile-message-btn center-block text-center">
												<a href="#" class="btn btn-success">
													<i class="fa fa-envelope"></i>
													Send message
												</a>
											</div>
											{% endif %}
										</div>
										
									</div>
								</div>
								
								<div class="col-lg-9 col-md-8 col-sm-8">
									<div class="main-box clearfix">
										<div class="tabs-wrapper profile-tabs">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#tab-general" data-toggle="tab">General</a></li>
												<li><a href="#tab-social" data-toggle="tab">Social</a></li>
												
												<li><a href="#tab-security" data-toggle="tab">Security</a></li>
												<li><a href="#tab-payment" data-toggle="tab">Payment</a></li>
												
											</ul>
											<!--  Every tab/section should have an html file of its own
													for better organization and easier modifications-->
											
											<div class="tab-content">
												<div class="tab-pane fade in active" id="tab-general">
													<form role="form" method="POST" action="/account/edit/general/" enctype="multipart/form-data">
														{% csrf_token %}
														<div class="form-group">
															<div>
																<img alt="" id="uploaded-file" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="profile-img img-responsive center-block">
															</div>
															<label for="InputPicture">Profile Picture</label>
															<input name="{{pic_form.profile_picture.name}}" type="file" class="form-control" id="InputPicture" >
															<p class="help-block">
																{% firstof pic_form.profile_picture.errors pic_form.profile_picture.help_text %}
															</p>
														</div>
														<div class="form-group">
															<label for="screen_name">Screen Name</label>
															<input type="text" name="{{general_form.screen_name.name}}" class="form-control" id="screen_name" placeholder="Name that shows up on you profile">
															<p class="help-block">
																{% firstof general_form.screen_name.errors general_form.screen_name.help_text %}
															</p>
														</div>

										
														
														<div class="form-group">
															<label for="exampleTooltip">Time Zone</label>
															<input type="text" name="{{general_form.time_zone.name}}" class="form-control" id="exampleTooltip" data-toggle="tooltip" data-placement="bottom" title="">
															<p class="help-block">
																{% firstof general_form.time_zone.errors general_form.time_zone.help_text %}
															</p>
														</div>
														<button type="submit" class="btn btn-primary btn-success">Save</button>
													</form>	
													
												</div>
											
												<div class="tab-pane fade" id="tab-social">
													
													
												</div>
													
												
												
												
												<div class="tab-pane fade" id="tab-security">
													<header>Change Password</header>
														
														<form accept-charset="utf-8" method="POST" action="/account/edit/security/">
														{% csrf_token %}
															<div class="form-group">
																<label for="InputPassword1">Current Password</label>
																<input type="password" class="form-control" id="InputPassword1" placeholder="">
															</div>
															<div class="form-group">
																<label for="InputPassword2">New Password</label>
																<input type="password" class="form-control" id="InputPassword2" placeholder="" data-indicator="pwindicator">
																<div id="pwindicator" class="pwdindicator">
																	<div class="bar"></div>
																	<div class="pwdstrength-label"></div>
																</div>
															</div>
															<div class="form-group">
																<label for="InputPassword3">Confirm Password</label>
																<input type="password" class="form-control" id="InputPassword3" placeholder="">
															</div>
															<button type="submit" class="btn btn-primary btn-success">Save</button>

														</form>
													
												</div>
												<div class="tab-pane fade" id="tab-payment">
												
													
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>{% endblock %}
{% endif %}