{% extends "trips/account_base.html" %}

{% load static from staticfiles %}
{% load compress %}
<!-- We include base template for account related pages. And we fill the blocks -->
{% block title %} {% firstof userinfo.screen_name userinfo.username %}{% endblock title %}
<!-- We load the Autocomplete widget by setting onload attribute -->
{% block onloader %}  {% endblock onloader %}
<!-- 'greetings' is always the username of the logged-in user  -->
	{% if greetings %}
{% block username %} {{ greetings }} {% endblock username %}
{% block stylesheet_bottom %} 	
	<!-- libraries -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/nanoscroller.css' %}" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="{% static 'account/css/compiled/theme_styles.css' %}" />

	<!-- this page specific styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'account/css/libs/magnific-popup.css' %}">
	
	<!-- Favicon 
	<link type="image/x-icon" href="favicon.png" rel="shortcut icon"/>
	-->
{% endblock stylesheet_bottom %}
{% block stylesheet_uncomp %}
	<link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300|Titillium+Web:200,300,400' rel='stylesheet' type='text/css'>
{% endblock stylesheet_uncomp %}

{% block jscript %} 
	<script>
		// Display Conversation On Profile Page											  
								function displayChat() {document.getElementById("displayChat").click();
														$('#navtab-chat').removeClass("hidden");
														
														document.getElementById("WrapperConversation1").scrollIntoView(false);
								};

	</script>
	
	<!-- this page specific scripts -->
	<script src="{% static 'account/js/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'account/js/jquery.magnific-popup.min.js' %}"></script>
	{% compress js %}
	<!-- scripts -->
	{% include 'account/script_firebase.html' %} 
	<script src="{% static 'account/js/scripts.js' %}"></script>
	<script src="{% static 'account/js/pace.min.js' %}"></script>
	
	<script type="text/javascript">$('.rating-stars').raty({ starType: 'i', score: function() {
																				return $(this).attr('data-score');
																			  }, readOnly: true });
	</script> 
	{% endcompress %}
 {% endblock jscript %}
 
 {% block head_jscript %}  {% endblock %}
{% block head_jscript_uncomp %} <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script> {% endblock %}

<!-- This block will contain everything that is not on the user sidebar: list of trips or trip details or other user profiles...etc -->
{% block content %}
<div class="content-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<div class="row" id="user-profile">
								<div class="col-lg-3 col-md-4 col-sm-4">
									<div class="main-box clearfix">
										{% include "account/profile_main.html" %}
										
									</div>
								</div>
								
								<div class="col-lg-9 col-md-8 col-sm-8">
									<div class="main-box clearfix">
										<div class="tabs-wrapper profile-tabs">
											<ul class="nav nav-tabs">
												<li class="active"><a href="#tab-newsfeed" data-toggle="tab">Reviews</a></li>
												<li><a href="#tab-trips" data-toggle="tab">Trips</a></li>
												<li id="navtab-chat" class="hidden"><a id="displayChat" href="#tab-chat" data-toggle="tab">Conversation</a></li>
												{% if userinfo.is_cuser %}
												<li><a href="#tab-friends" data-toggle="tab">Invite a Friend</a></li>
												<li><a href="/account/edit/here/" >Edit Profile</a></li>
												{% endif %}
											</ul>
											<!--  Every section should have an html file of its own
													for better organization and easier modifications-->
											<!--- This is reviews section-->
											<div class="tab-content">
												<div class="tab-pane fade {% if not tab_friends %} in active {% endif %}" id="tab-newsfeed">
													
													<div id="newsfeed">
														{% include "account/reviews_history.html" %}
														
													</div>
													
												</div>
											<!-- End of reviews section-->
												<div class="tab-pane fade" id="tab-trips">
													
													<div class="table-responsive">
														<table class="table">
															<tbody>
															{% for v in userinfo.trips.values %}
																
																<tr>
																	
																	<td class="text-center">{{ v.depDate }}</td>
																	<td class="text-right">{{ v.cityDep }}</td>
																	<td class="text-right">{{ v.cityArr }}</td>
																	<td class="text-right">{{ v.availCap }} Kg</td>
																</tr>
															{% empty %}
																<tr>
																  <td style="height:15em;width:100%;margin:auto; display:block;">
																	<h2 style="font-size: 1em; position:absolute; top:50%; margin:0; margin-right:-50%; left:50%; transform:translate(-50%,-50%)">
																	   This user has not added any trips yet...
																	</h2>
																  </td>
																</tr>
																
															{% endfor %}
															</tbody>
														</table>
													</div>
													
												</div>
												<div class="tab-pane fade {{tab_friends}}" id="tab-friends">
													<h2>Spread the word ! Invite your friends to use Airspress</h2>
							
													{% if alert %}
														{% include 'trips/alerts.html' %}
													{% endif %}
													
													<br>
													
													<form accept-charset="utf-8" method="POST" action="/account/referral/">
														{% csrf_token %}
														<div class="form-group">
															<label for="InputEmail1"><strong>Email Address</strong></label>
															<input type="text" name="{{ referral_form.referred_email.name }}" class="form-control" id="InputEmail1" >
															<p class="help-block">
															{% firstof referral_form.referred_email.errors referral_form.referred_email.help_text %}
															</p>
														</div>
														<div class="form-group">
															<label for="InputMessage1"><strong>Personal Message</strong> (Optional)</label>
															<textarea type="text" name="{{ referral_form.message.name }}" class="form-control" id="InputMessage1" placeholder="{{referral_form.message.help_text}}">
															</textarea>
															<p class="help-block">
															{% firstof referral_form.message.errors %}
															</p>
														</div>
														<button type="submit" class="btn btn-primary btn-block">INVITE</button>
													</form>	
												</div>
												
												<div class="tab-pane fade" id="tab-chat">
													<div style="overflow:scroll;" class="conversation-wrapper" id="WrapperConversation1">
														<div class="conversation-content">
															<div class="conversation-inner" id="Conversation1">
															
															</div>
														</div>	
														<div class="conversation-new-message">
															<form>
																<div class="form-group">
																	<textarea class="form-control" onkeydown="return Shidori(event)" id="NewMessage1" rows="8" placeholder="Enter your message..."></textarea>
																</div>
																
																<div class="clearfix">
																	<button type="submit" id="SendMessage1" class="btn btn-success pull-right">Send message</button>
																</div>
															</form>
														</div>
													</div>
												</div>
											</div>
										</div>
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
{% endblock %}
{% endif %}