{% if not dealInfo.istraveler and dealInfo.isdeliv  or dealInfo.istraveler and dealInfo.ispayed %}
	<div class="row" id="review-feedback" style="margin-top:40px;">
		<div class="col-md-12">
		
	{% if dealInfo.istraveler and not dealInfo.traveler.isreviewed or not dealInfo.istraveler and not dealInfo.reqUser.isreviewed %}	
    	<div class="well well-sm">
            <div class="text-right">
                <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box"> <strong>Rate this Airdeal</strong></a>
            </div>
        
            <div class="row" id="post-review-box" style="display:none;">
                <div class="col-md-12">
                    <form id="review-form" action="{% url 'account:make_review' rqkey %}" method="post">
					 {% csrf_token %}
                        <input id="ratings-hidden" name="rating" type="hidden"> 
                        <textarea class="form-control animated" cols="50" id="new-review" name="{{review_form.text.name}}" placeholder="Enter your review here..." rows="5"></textarea>
        
                        <div class="text-right">
                            <div class="stars starrr" data-rating="0" style="cursor:pointer;"></div>
                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                            <span class="glyphicon glyphicon-remove">&nbsp;</span>Cancel</a>
                            <button class="btn btn-success btn-lg" type="submit" id="send-review">SEND</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
	{% else %}
		{% for review in reviews %}
			{% include 'account/reviews_readonly.html' %}
		{% endfor %}
   {% endif %}
 
		</div>
	  </div>
{% endif %}