{% for review in userinfo.reviews.values %}
	<div class="story">
		<div class="story-user">
			<a href="#">
				<img style="min-height:100%; min-width:100%;" src="{{review.sender.picture}}" alt=""/>
			</a>
		</div>
		
		<div class="story-content">
			<header class="story-header">
				<div class="story-author">
					<a href="{% url 'account:profile' review.sender.name %} " class="story-author-link">
					
					{{review.sender.name}}
					</a>
					posted a review
				</div>
				<div class="story-time">
					<i class="fa fa-clock-o"></i> {{review.pub_date}}
				</div>
			</header>
			<div class="story-inner-content">
				" {{review.text}} "
			</div>
			<!-- when we go eventbrite style -->
			<!-- <footer class="story-footer">
				<a href="#" class="story-comments-link">
					<i class="fa fa-comment fa-lg"></i>  Comments
				</a>
				<a href="#" class="story-likes-link">
					<i class="fa fa-heart fa-lg"></i> Likes
				</a>
			</footer> -->
		</div>
	</div>
	{% endfor %}