<script type="text/javascipt">
// datetime
 function getDateTime() {
    var now     = new Date(); 
    var year    = now.getFullYear();
    var month   = now.getMonth()+1; 
    var day     = now.getDate();
    var hour    = now.getHours();
    var minute  = now.getMinutes();
    var second  = now.getSeconds(); 
    if(month.toString().length == 1) {
        var month = '0'+month;
    }
    if(day.toString().length == 1) {
        var day = '0'+day;
    }   
    if(hour.toString().length == 1) {
        var hour = '0'+hour;
    }
    if(minute.toString().length == 1) {
        var minute = '0'+minute;
    }
    if(second.toString().length == 1) {
        var second = '0'+second;
    }   
    var dateTime = day+'/'+month+'/'+year+' '+hour+':'+minute+':'+second;   
     return dateTime;
};

window.onload = function(){
// Get a reference to messages
var ref = new Firebase("https://radiant-torch-2520.firebaseio.com/{% firstof firebase_node "data/airdeals/messages/"|add:rqkey %}");
// Define Generated Token
var AUTH_TOKEN = "{{firebase_token}}";

// Authenticate with Token
ref.unauth();
ref.authWithCustomToken(AUTH_TOKEN, function(error, authData) {
  if (error) {
    console.log("Login Failed!", error);
  } else {
    console.log("Login Succeeded!", authData);
  }
});

// Send Messages on event Click or Keypress
document.getElementById('SendMessage1').onclick = function(e){
	// Catch Submit and Halt it
	e.preventDefault();
	var newMessageText = document.getElementById('NewMessage1').value;
	// Send to Firebase
	if (newMessageText !== ""){
	ref.push({"sender":"{{current_user_id}}", "text": newMessageText, "pub_date":getDateTime()});
	// Empty Textarea
	document.getElementById('NewMessage1').value = '';
	}
};
document.getElementById('NewMessage1').onkeydown = function Shidori(e) {
    if (e.keyCode == 13 || e.which == 13) {
	// Catch Submit and Halt it
	e.preventDefault();
	var newMessageText = document.getElementById('NewMessage1').value;
	// Send to Firebase
	if (newMessageText !== ""){
	ref.push({"sender":"{{current_user_id}}", "text": newMessageText, "pub_date":getDateTime()});
	// Empty Textarea
	document.getElementById('NewMessage1').value = '';
	}
	
	}
};
// Get the data on current messages and on new messages
ref.limitToLast(10).on("child_added", function(snapshot) {
  var newMessage = snapshot.val();
  // Conversation list of messages 
  var conversation = document.getElementById('Conversation1');
  var wrapper = document.getElementById('WrapperConversation1');
  // new Message element
  var snippet = '';
  var part1 = '<div class="conversation-item item-left clearfix">\
						<div class="conversation-user">\
							<img src=" {% if dealInfo.istraveler %} {{reqUser.picture}} {% else %} {% firstof travelUser.picture myPicture %} {% endif %} " alt=""/>\
						</div>\
						<div class="conversation-body">\
							<div class="name"> {% if dealInfo.istraveler %} {{reqUser.username}} {% else %} {% firstof travelUser.username greetings %} {% endif %} </div>\
							<div class="time hidden-xs">';
  var part11 = '<div class="conversation-item item-right clearfix">\
						<div class="conversation-user">\
							<img src=" {% if not dealInfo.istraveler %} {{reqUser.picture}} {% else %} {% firstof travelUser.picture myPicture %} {% endif %} " alt=""/>\
						</div>\
						<div class="conversation-body">\
							<div class="name"> {% if not dealInfo.istraveler %} {{reqUser.username}} {% else %} {% firstof travelUser.username greetings %} {% endif %} </div>\
							<div class="time hidden-xs">';	
  var part2 = '</div>\
							<div class="text">';
  var part3 = 	'</div>\
						</div>\
					</div>';
  if (newMessage.sender == "{{current_user_id}}"){
		snippet = part11 + newMessage.pub_date + part2 + newMessage.text + part3;
  } else {
		snippet = part1 + newMessage.pub_date + part2 + newMessage.text + part3;
  }							
  // Append New Message to Conversation
  conversation.innerHTML += snippet;
  
  //Scroll to the Bottom of conversation
  conversation.scrollTop = conversation.height
  wrapper.scrollTop = wrapper.height
});};
</script>