
.twodates .linediv {
    margin-left: -14px;
    margin-bottom: -14;
    margin-top: -5px;
    text-align: center;
}
.twodates li {
    list-style: outside none none;
    margin-bottom: -14px;
}
.twodates li .fa-map-marker{
	font-size:0.8em;
}
.linediv span {
    display: inline-block;
    margin: 0 auto;
    float: none;
    text-align: center;
}
.country {
    font-size: 0.9em;
}
.fromCity, .toCity {
    font-size: 1em;
}
.price-details {
    text-align: center;
    color: green;
}
.linediv .fa {
    font-size: 17px;
}
.available {
    color: #000;
}
.greater {
    font-size: 1.5em;
}

li.date{    
    padding: 10px;
}
 li .calendar {
	width: 46px; 
	font-size: 0.8em; 
	margin-left:auto;
	margin-right:auto;
}
 li .calendar span { 
	display: block; 
}

 li .calendar .month { 
	text-align: center; 
	padding: 5px 3px 3px 3px; 
	font-size: 1em; 
	background: #6086a6; 
	color: #fff; 
	font-weight: bold;
	background-color: #31C6EE;
	text-transform: uppercase;
}
li .calendar .day { 
	color: #666;
	text-align: center; 
	font-weight: bold; 
	font-size: 1.5em; 
	background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e6e6e6), color-stop(.08,#f9f9f9));
    background: -moz-linear-gradient(top, #f9f9f9, #e6e6e6);
}
.rating-stars {
    margin-top: -1em;
    text-align: center;
}
.star-off-png:before {
    font-size: 0.5em;
}
.star-on-png:before {
    font-size: 0.5em;
}
.cancel-on-png, .cancel-off-png, .star-on-png, .star-off-png, .star-half-png {
font-size: 1.3em;
}
p a.btn{background-color:#e80;}