{load i18n %}
<p>
{% blocktrans %}Airspress is an initiative driven by 5 student entrepreneurs which started in a group discussion focusing on African news.
After reviewing the political situation in different countries, we quickly started to wonder what initiatives we could take as African students living abroad to contribute to the economy and cultural growth of our continent. 
One problem we were all facing was the lack of easy way to access goods from our country in quantity and quality. 
We decided to move beyond noticing that problem by devising a solution to it.
The solution we thought of is a web and mobile marketplace where purchasers willing to acquire some goods can ask travelers to buy them on their behalf and ship it to them in exchange of an emotional and financial reward.
In the process of developing this idea, we realized that this solution could be of use to almost anyone willing to acquire products sold outside of his country of residence provided that an Airspress traveler buys it.
As Africans, we think that this platform can also help to expose various African products which can be of interest to a global audience (Local and modern clothing, locally manufactured watch and Ivorian Chocolate).
{% endblocktrans %}

</p>