{% extends 'signup/index.html' %}
{% load staticfiles %}
	{% block title %}  About Us {% endblock title %}
	{% block about %} active {% endblock about %}
		{% block content %}
			<!-- Banner -->
				<section id="banner">
					<div class="content">
						<header>
							 <div class="col-md-12">
								
								<h1 class="mb">About Us</h1>
								
							</div>
						</header>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
				
				<section id="one" class="aboutPage spotlight style2 right">
					<span class="image fit main"><img src="{% static 'signup/images/pic03.jpg' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>Motivation</h2>
							
						</header>
						 		{% include 'airspress/about_motivation.html' %}
						
					</div>
					<a href="#two" class="goto-next scrolly">Next</a>
				</section>

			<!-- Two -->
				<section id="two" class="aboutPage spotlight style3 left">
					<span class="image fit main bottom"><img src="{% static 'signup/images/pic04.jpg' %}" alt="" /></span>
					<div class="content">
						<header>
							<h2>Vision</h2>
							
						</header>
						{% include 'airspress/about_vision.html' %}
						
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>
				

			<!-- Three -->
				<section id="three" class="wrapper style2 special fade-up">
					<div class="container">
						<header>
							<h2>If you still got questions, feel free to contact us</h2>
							<p>You can also find us on <a style="color:#fff;" href="https://twitter.com/airspress">Twitter(@airspress)</a></p>
						</header>
							<a href="#contactModal" data-toggle="modal" style="color:#fff;" class="button">Contact</a>
					</div>
				</section>

		{% endblock content %}	