
<h4>Introduction</h4>
<p>
Welcome to Airspress which provides you with its service provided that you respect the terms of use of our website www.airspress.com. 
Using Airspress is subject to the full and unconditional acceptance of the terms of use and Airspress reserves the right to remove any user who breaches these rules.
</p>

<h4>Service description</h4>
<p>
Airspress.com is a platform to bring together travelers and those wishing to afford goods not available in their country of residence.
As a traveler, Airspress allows you to advertise your trip by publishing the departure date, origin and destination. 
As a receiver, you can ask travelers to buy items on your behalf by creating a request and providing an accurate description of the product you want to order. Membership cost $10 a year.
Upon signing up, the traveler and receiver provide information which will make it easy for them to be put in touch. 
As a result, receivers will have access to the profile of the traveler and his trip information.The traveler is required to deliver the item to the receiver 48 hours upon arrival. After doing so, both parties are required to confirm that the transaction occured in order for us to keep track of the service reliability.
</p>

<h4>Registration requirement</h4>
<p>
As part of using the service, you acknowledge that you have the legal age to perform all transactions. 
You agree to provide accurate personal data and regularly update them. 
If you provide incomplete or inaccurate information, or if Airspress has reason to believe that this is the case, it will then have the right to suspend your membership or terminate your account.
</p>

<h4>Privacy Policy</h4>
<p>
Personal data and any information about you provided during registration will be confidential. 
Airspress will disclose this information without your permission for the contact between the recipient and the sender.
</p>

<h4>Policy on illegal items</h4>
<p>
Any use of the service for illegal purposes will be liable to legal prosecution. It is strictly forbidden to carry illegal substances and unlawful attempt will result from the responsibility of both parties. 
For safety reasons, the sender should specify the product to buy without sending it to the traveler.
</p>

<h4>Policy on banned items</h4>
<p>
Airspress complies with the laws of the countries in which it gives its services. Any prohibited item carried by our users engage their responsibility. 
In addition to being exposed to the seizure of the prohibited items, users must pay customs fees, if required.
A safety measure we will take is to help travelers figure out the list of banned products to carry in the country where it is located.
</p>

<h4>Policy on terms update</h4>
<p>
Airspress reserves the right to update these use policies at any time. In case of update, a communication will be done on the subject a few weeks before the implementation of the new policy.
</p>
				